{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/edit.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="content">
        <h1>Spirit edit</h1>
        <br><br>
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <table>
            <td>
                <input class="btn btn-primary btn-circle" type="submit" value="Edit" />
            </td>
            {{ form_end(edit_form) }}
            {{ form_start(delete_form) }}
            <td>
                <input class="btn btn-primary btn-circle" type="submit" value="Delete">
            </td>
            {{ form_end(delete_form) }}
            <td>
                <a class="btn btn-primary btn-circle" href="{{ path('product_list', {type: 'spirit'}) }}">Back to the list</a>
            </td>
        </table>
    </div>
{% endblock %}
