{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="content">
        <h1>{% trans %}Spirit Title{% endtrans %}</h1>
    <br><br>
    <table>
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Price{% endtrans %}</th>
                <th>{% trans %}Stock{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for spirit in products %}
            <tr>
                <td class="id"><a href="{{ path('product_show', { 'id': spirit.id }) }}">{{ spirit.id }}</a></td>
                <td class="degree">{{ spirit.name }}</td>
                <td class="price">{{ spirit.price }} €</td>
                <td class="stock">{{ spirit.stock }}</td>
                <td class="actions">
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'id': spirit.id }) }}">{% trans %}Show{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'id': spirit.id }) }}">{% trans %}Edit{% endtrans %}</a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
        <ul>
            <li>
                <a href="{{ path('product_new', { 'type' : 'spirit'}) }}"><div class="btn btn-primary btn-circle">{% trans %}Create Spirit{% endtrans %}</div></a>
            </li>
        </ul>
    </div>
{% endblock %}
