{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{{ asset('css/exception.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}
    {{ exception.message }} ({{ status_code }} {{ status_text }})
{% endblock %}

{% block body %}
    {% if status_code==404 %}
        {% set text = 'Le contenu de cette page n\'est pas disponnible.' %}
    {%  else %}
        {% set text = 'Une erreur c\'est produite' %}
    {% endif %}
    <div class="exceptionContent">
        <h1 id="exceptionTitle">Oups...{{ text }}</h1>
        <p class="exceptionCode">Erreur {{ status_code }}</p>
        <p>
            <a onClick="window.history.back()" class="btn btn-primary btn-exception">❮ Retour</a>
            <a href="/" class="btn btn-primary btn-exception">Accueil</a>
        </p>
        <img class='exceptionImg' src="{{ asset('img/exception.gif') }}" alt="404 gif">
    </div>
{% endblock %}
