{% extends 'base.html.twig' %}

{% block body %}
    <h1>Medals list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Annee</th>
            <th>Url</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for medal in medals %}
            <tr>
                <td><a href="{{ path('medal_show', { 'id': medal.id }) }}">{{ medal.id }}</a></td>
                <td>{{ medal.name }}</td>
                <td>{{ medal.annee }}</td>
                <td>{{ medal.url }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('medal_show', { 'id': medal.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('medal_edit', { 'id': medal.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('medal_new') }}">Create a new medal</a>
        </li>
    </ul>
{% endblock %}
