{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/table-template.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="content">


        <h3 class="section-heading" style="text-align: center">{% trans %}Medals list{% endtrans %}</h3>
        <div class="table-responsive table-template">


            <table class="table table-hover">
                <thead class="thead-default">
                <tr class="color-title">
                    <th>Id</th>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Annee{% endtrans %}</th>
                    <th>Url</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for medal in medals %}
                    <tr>
                        <td><a href="{{ path('medal_show', { 'id': medal.id }) }}">{{ medal.id }}</a></td>
                        <td>{{ medal.name }}</td>
                        <td>{{ medal.annee }}</td>
                        <td>{{ medal.url }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('medal_show', { 'id': medal.id }) }}">{% trans %}Show{% endtrans %}</a>
                                </li>
                                <li>
                                    <a href="{{ path('medal_edit', { 'id': medal.id }) }}">{% trans %}Edit{% endtrans %}</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul>
            <li>
                <a class="btn btn-circle btn-primary" href="{{ path('medal_new') }}">{% trans %}Create a new medal{% endtrans %}</a>
            </li>
        </ul>
    </div>
{% endblock %}