{% extends 'baseadmin.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/edit.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/table-template.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="content">


        <h3 class="section-heading" style="align-content: center">{% trans %}Medal{% endtrans %}</h3>
        <div class="table-responsive table-template">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ medal.id }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <td>{{ medal.name }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Annee{% endtrans %}</th>
                    <td>{{ medal.annee }}</td>
                </tr>
                <tr>
                    <th>Url</th>
                    <td>{{ medal.url }}</td>
                </tr>
                </tbody>
            </table>


        <ul style="margin-left: 30%;">
            <li>
                <a class="btn btn-circle btn-primary col-md-6" href="{{ path('medal_edit', { 'id': medal.id }) }}">{% trans %}Edit{% endtrans %}</a>
            </li>
            <li>
                <a class="btn btn-circle btn-primary col-md-6" href="{{ path('medal_index') }}">{% trans %}Back to the list{% endtrans %}</a>
            </li>
        </ul>
        </div>


    </div>

{% endblock %}