{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/theme-product.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var conditioning = [];
        var infoConditioning = [];
        {% if product.onSale %}
            {% for conditioningType in product.conditioningTypes %}
            conditioning[{{ conditioningType.id }}] = {"price": "{{ conditioningType.price|number_format(2,'.',',') }}", "name": "{{ product.name }}", "conditioningTypeName": "{{ conditioningType.name }}", "conditioningTypeId": {{ conditioningType.id }} };
            infoConditioning[{{ conditioningType.id }}] = {"stock": {{ conditioningType.stock }}, "volumeValue": "{{ conditioningType.volumeValue }}", "volumeUnit": "{{ conditioningType.volumeUnit }}"{% if conditioningType.pack is not null %}, "packQuantity": {{ conditioningType.pack.quantityIn }}, "packName": "{{ conditioningType.pack.name }}"{% endif %} };
            {% endfor %}
        {% endif %}

        function Refresh() {
            $('#price').html(conditioning[$('#conditioning_selected').val()]["price"] + '€');

            $('.add-item').attr("data-cost", conditioning[$('#conditioning_selected').val()]["price"]);
            $('.add-item').attr("data-name", conditioning[$('#conditioning_selected').val()]["name"]);
            $('.add-item').attr("data-conditioning-type-name", conditioning[$('#conditioning_selected').val()]["conditioningTypeName"]);
            $('.add-item').attr("data-conditioning-type-id", conditioning[$('#conditioning_selected').val()]["conditioningTypeId"]);

            $('#conditioning-stock').html(infoConditioning[$('#conditioning_selected').val()]["stock"]);
            $('#conditioning-name').html('{% trans %}Volume dans{% endtrans %} ' + conditioning[$('#conditioning_selected').val()]["name"]);
            $('#conditioning-volumeValue').html(infoConditioning[$('#conditioning_selected').val()]["volumeValue"]);
            $('#conditioning-volumeUnit').html(infoConditioning[$('#conditioning_selected').val()]["volumeUnit"]);

            if(infoConditioning[$('#conditioning_selected').val()]["packName"] != undefined)
            {
                $("#conditioning-pack").show();
                $('#conditioning-pack-name').html('{% trans %}Quantité dans le pack{% endtrans %} ' + infoConditioning[$('#conditioning_selected').val()]["packName"]);
                $('#conditioning-pack-quantity').html(infoConditioning[$('#conditioning_selected').val()]["packQuantity"]);
            }else{
                $("#conditioning-pack").hide();
            }
        }

        $('#conditioning_selected').change(Refresh);
        Refresh();

    </script>
    <script src="{{ asset('js/item.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="product-content">
        <div class="section-slide">
            <a id="backpage" class="back-button wow fadeInRight">❮ {% trans %}Retour{% endtrans %}</a>
            <div id="myCarousel" class="carousel mycarousel slide" data-ride="carousel">
                <!-- Indicators -->
                {% if product.pictures is not empty %}
                    <ol class="carousel-indicators mycarousel-indicators">
                        {% for key,product_picture in product.pictures %}
                            <li data-target="#myCarousel" data-slide-to="{{ key }}"{% if key==0 %} class="active"{% endif %}></li>
                        {% endfor %}
                    </ol>
                {% endif %}

                <!-- Wrapper for slides -->
                <div class="carousel-inner mycarousel-inner" role="listbox">
                    {% if product.pictures is empty %}
                        <div class="item active">
                            <img class="photo" src="{{ asset("./img/product/defaultProduct.jpeg") }}" alt="No.Picture.Product"/>
                        </div>
                    {% else %}
                        {% for key,product_picture in product.pictures %}
                            <div class="item {% if key==0 %}active{% endif %}">
                                <img class="photo" src="{{ asset(product_picture.url) }}" alt="{{ product_picture.alt }}"/>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <!--  TEXTE  -->
        <div class="center-justified section-presentation">
            <h3 id="TITRE" class="wow fadeInDown">{{ product.displayName }}</h3>
            {% if product.averageMarks > 0 %}
                <div class="rating wow fadeInDown">
                    {% for i in range(1, product.averageMarks) %}
                        <span class="full-star">★</span>
                    {% endfor %}
                    {% if product.averageMarks < 5 %}
                        {%  for i in range(product.averageMarks + 1, 5) %}
                            <span class="empty-star">☆</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
            {% if product.competitions is not empty %}
            <div>
                <table class="presentation-table">
                    <tr>
                        <td colspan="2">
                            <h3 class="wow fadeInDown">{% trans %}Medals{% endtrans %}</h3>
                        </td>
                        <td >
                            <h3 class="wow fadeInDown">{% trans %}Mark{% endtrans %}</h3>
                        </td>
                    </tr>
                {% for competition in product.competitions %}
                    <tr>
                        <td class="attribute">{{ competition.medal.name }} ({{ competition.medal.annee }})</td>
                        <td class="attribute">
                            <img src="{{ competition.medal.url }}" alt="médaille : {{ competition.medal.name }}" class="medal_img">
                        </td>
                        <td class="attribute">
                            {% if competitionProduct is not empty %}
                                {% if competitionProduct[loop.index0].points != null %}
                                    {{ competitionProduct[loop.index0].points }}
                                {% else %}
                                    {% trans %}No mark{% endtrans %}
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
            {% endif %}
            <br>
            <p class="wow fadeInDown">{{ product.description }} </p>
            {% if product.onSale and product.conditioningTypes is not empty %}
            <select id="conditioning_selected" class="conditioning champ">
                {% for conditioning in product.conditioningTypes %}
                    <option value="{{ conditioning.id }}">{{ conditioning.name }}</option>
                {% endfor %}
            </select>
            <div class="countdown-container my-countdown-container">
                <span class="countdown-price h3 wow fadeInUp price-show" id="price">0.00 €</span>
                    <table class="presentation-table">
                        <tr>
                            <td class="attribute">{% trans %}Quantité disponible{% endtrans %}</td>
                            <td class="att-value" id="conditioning-stock"></td>
                        </tr>
                        <tr>
                            <td class="attribute" id="conditioning-name"></td>
                            <td class="att-value"><span id="conditioning-volumeValue"></span> <span id="conditioning-volumeUnit"></span></td>
                        </tr>
                        <tr id="conditioning-pack">
                            <td class="attribute" id="conditioning-pack-name"></td>
                            <td class="att-value" id="conditioning-pack-quantity"></td>
                        </tr>
                    </table>
                <br>
                {% set picture = product.pictures|last %}
                <span class="btn btn-default add-item wow swing" {% if picture is empty %}data-image="./img/product/defaultProduct.jpeg"{% else %} data-image="{{ picture.url}}"{% endif %}
                      data-name="{{ product.name }}" data-cost="0" data-id="{{ product.id }}">
                <div id="ajout"><img alt="e-commerce" src="{{ asset('img/product/panier.png') }}" height="55"></div>
                <span class="ti-shopping-cart"></span>{% trans %}Panier{% endtrans %}
                </span>
            </div>
            {% else %}
                <h3>{% trans %}Le produit n'est pas disponible{% endtrans %}.</h3>
            {% endif %}
        </div>
        <!--Tableau presentation-->
        <h2>{% trans %}Details{% endtrans %}</h2>
        <table class="presentation-table">
            <tr>
                <td class="attribute">
                    {% trans %}Universes{% endtrans %}:
                </td>
                <td class="att-value">
                    {% for universe in product.universes %} {{universe.name}} {% if not loop.last %}, {% endif %}{% endfor %}
                </td>
            </tr>
            <tr>
                <td class="attribute">
                    {% trans %}Volume{% endtrans %}:
                </td>
                <td class="att-value">
                    {{ product.volume }}L
                </td>
            </tr>
            <tr>
                <td class="attribute">
                    {% trans %}Degres Alcool{% endtrans %}:
                </td>
                <td class="att-value">
                    {{ product.alcoholDegree }}%
                </td>
            </tr>
            <tr>
                <td class="attribute">
                    {% trans %}Sucre{% endtrans %}:
                </td>
                <td class="att-value">
                    {{ product.sugar }} g/L
                </td>
            </tr>
            {% if product.conditioningTypes is not empty  %}
                <tr>
                    <td class="td attribute">
                        {% trans %}Conditioning{% endtrans %} :
                    </td>
                    <td class="td att-value">
                        {% for conditioningType in product.conditioningTypes %}
                            {{ conditioningType.name }} (XXX {% trans %}Bouteille{% endtrans %}s){% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="td attribute">
                        {% trans %}Conditioning{% endtrans %} :
                    </td>
                    <td class="td att-value">
                        {% trans %}Produit non disponible{% endtrans %}
                    </td>
                </tr>
            {% endif %}
            {%  block features %}
            {% endblock %}
        </table>
        <!--  AVIS  -->
        <h2>{% trans %}Avis{% endtrans %}</h2>
        {% for evaluation in product.evaluations %}
            <div class="comment">
                <div class="comment-header">
                    <h4 class="yellow text-center">{{ evaluation.user.username }}</h4>
                    <div class="rating">
                        {% for i in range(1, evaluation.mark) %}
                            <span class="full-star">★</span>
                        {% endfor %}
                        {% if evaluation.mark < 5 %}
                            {%  for i in range(evaluation.mark + 1, 5) %}
                                <span class="empty-star">☆</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="comment-content">
                    <p>{{ evaluation.review }}</p>

                </div>
            </div>
        {% endfor %}
    </div>


    {% if utilisateur != null %}
        <h3 class="text-center">{% trans %}Ajouter un commentaire{% endtrans %}</h3>

        <div class="comment">
            <div class="comment-header">
                <h4 class="yellow text-center">
                    {{ utilisateur.username }}
                </h4>
                <li>
                    <div class="rating">
                        <a id="1" class="star" title="Give 1 star">☆</a>
                        <a id="2" class="star" title="Give 2 stars">☆</a>
                        <a id="3" class="star" title="Give 3 stars">☆</a>
                        <a id="4" class="star" title="Give 4 stars">☆</a>
                        <a id="5" class="star" title="Give 5 stars">☆</a>
                    </div>
                </li>
            </div>


            <div class="comment-content">
                <div class="form-style-1">
                    <ul>
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                    </ul>
                    {{ form_start(evaluation_form) }}
                    {{ form_widget(evaluation_form) }}
                    {{ form_end(evaluation_form) }}
                </div>
            </div>
        </div>
    {% else %}
        <h3 class="text-center">{% trans %}Vous devez être connecté pour laisser un commentaire{% endtrans %}</h3>
    {% endif %}
{% endblock %}



