{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/theme-product.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/item.js') }}"></script>
{% endblock %}

{% block body %}
<div class="product-content">
    <section class="section-slide">
        <INPUT type="button" value="❮ {% trans %}Back to selection{% endtrans %}" class="back-button wow fadeInRight" onClick="window.history.back()">
        <div class="slideshow-container">
            {% for product_picture in product_pictures %}
                <div class="mySlides">
                    <img class="photo" src="{{ asset(product_picture.url) }}" alt="{{ product_picture.alt }}"/>
                </div>
            {% endfor %}
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        <div style="text-align:center">
            {% for product_picture in product_pictures %}
                <span class="dot" onclick="currentSlide({{ product_picture.id }})"></span>
            {% endfor %}
        </div>
    </section>
    <!--  TEXTE  -->
    <section class="section-presentation product" id="products">
        <div class="col-md-7 text-center">
            <div class="countdown-container">
                <div id="TITRE">
                    <h3 class="wow fadeInDown">{{ product.name }}</h3>
                </div>

                <img alt="lauriers" src="{{ asset('img/product/lauriers.png') }}" height="55">
                <h4 class="wow fadeInDown">{% trans %}Medal{% endtrans %}</h4>
                <p class="wow fadeInDown">{{ product.description }} </p>
                <p><b>{% trans %}Universes{% endtrans %} :</b> {% for universe in product.universes %} {{universe.name}} {% if not loop.last %}, {% endif %}{% endfor %} </br>
                    <b>{% trans %}Volume{% endtrans %} : </b>{{ product.volume }} <br>
                    <b>{% trans %}Stock{% endtrans %} : </b>{{ product.stock }} <br>
                    {%  block features %}
                    {% endblock %}
                </p>
                <span class="countdown-price h3 wow fadeInUp">{{ product.price }} €</span>
                {% set picture = product.pictures|last %}
                <br><br> <br> <br>
                <span class="btn btn-default add-item wow swing" {% if picture %}data-image="/img/upload/{{ picture.url}}"{% endif %}  data-name="{{ product.name }}" data-cost="{{ product.price }}" data-id="{{ product.id }}">
                    <div id="ajout"><img alt="e-commerce" src="{{ asset('img/product/panier.png') }}" height="55"></div>
                    <span class="ti-shopping-cart"></span>{% trans %}Panier{% endtrans %}
                </span>
            </div>
            <br>
            <div style="text-align:center">
                {% for product_picture in product_pictures %}
                    <span class="dot" onclick="currentSlide({{ product_picture.id }})"></span>
                {% endfor %}
            </div>
        </div>

        <div class="comment">
            <div class="comment-header">
                <h4 class="yellow">
                    Fabrice Coisy
                </h4>
                <strong>12 Jan 2017</strong>
                <div class="rating"><!--
				--><a href="#5" title="Give 5 stars">☆</a><!--
				--><a href="#4" title="Give 4 stars">☆</a><!--
				--><a href="#3" title="Give 3 stars">☆</a><!--
				--><a href="#2" title="Give 2 stars">☆</a><!--
				--><a href="#1" title="Give 1 star">☆</a>
                </div>
            </div>

            <div class="comment-content">
                <h5>Excellent produit. </h5>
                <p>
                    Excellent produit! Je le recommande!
                </p>

            </div>
        </div>

        <form>
            <ul class="form-style-1">
                <li><label>Full Name <span class="required">*</span></label><input type="text" name="field1" class="field-divided" placeholder="First" />&nbsp;<input type="text" name="field2" class="field-divided" placeholder="Last" /></li>
                <li>
                    <label>Email</label>
                    <input type="email" name="field3" class="field-long" />
                </li>
                <li>
                    <label>Subject <span class="required">*</span></label>
                    <input type="text" name="field4" class="field-long" />
                </li>
                <li>
                    <label>Your Message <span class="required">*</span></label>
                    <textarea name="field5" id="field5" class="field-long field-textarea"></textarea>
                </li>
                <li>
                    <label>Your note</label>
                    <div class="rating"><!--
					--><a href="#5" title="Give 5 stars">☆</a><!--
					--><a href="#4" title="Give 4 stars">☆</a><!--
					--><a href="#3" title="Give 3 stars">☆</a><!--
					--><a href="#2" title="Give 2 stars">☆</a><!--
					--><a href="#1" title="Give 1 star">☆</a>
                    </div>
                </li>
                <li>
                    <input type="submit" value="Submit" />
                </li>
            </ul>
        </form>
    </section>
</div>
{% endblock %}



