{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('uploader/fancybox/source/jquery.fancybox.css') }}">
    <link href="{{ asset('css/contour_blanc.css') }}" rel="stylesheet"/>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('uploader/fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript" src="{{ asset('uploader/js/uploader.js') }}"></script>
    <script type="text/javascript">
        var uploader = new Uploader("chemin");
        $("#button").fancybox({
            'fitToView': false,
            'width': '75%',
            'height': '80%',
            'autoScale': false,
            'autoSize': false,
            'transitionIn': 'elastic',
            'transitionOut': 'elastic',
            'type': 'iframe'
        });
    </script>
{% endblock %}

{% block body %}
    <div id="Contour_blanc">
        <div class="text-center" id="center-and-marges">
            <h3 class="section-heading">{% trans %}Importation Excel{% endtrans %}</h3>
            <div class="text-center">
                <p>{% trans %}Utilisez cette page pour importer un fichier excel correctement formaté et l'utiliser pour actualiser les données du site.{% endtrans %}</p>
                <br>
                <a id="button" href="{{ asset('uploader/fancybox.php') }}?iframe">{% trans %}Open iframe{% endtrans %}:   </a>

                {{ form_start(excel_form) }}
                {{ form_widget(excel_form.excel, { 'id': 'chemin'}) }}


                <div class="bouton1">
                    {{ form_widget(excel_form.submit) }}
                </div>
                {{ form_end(excel_form) }}

            </div>
        </div>
    </div>
{% endblock %}
