{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/item.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="text-center content">



    {% if Error is defined %}
        <h1>Erreur</h1>
        <img class="style_logo" src="{{ asset('img/error_excel.png') }}" alt="logo" height=100>
        <br />

        <p>{{ Error }}</p>
        <a class="btn btn-primary btn-circle" href="{{ path("excel_index") }}">
            <div class="texte">{% trans %}Retour{% endtrans %}</div>
        </a>




    {% else %}
        <h1>Produits à insérer</h1>
    <table>
        {% for product in products %}
            <tr>
                {% for cell in product %}
                    <td style="border: 1px solid white; font-family:'Arial';">{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <h1>{% trans %}Producteurs à insérer{% endtrans %}</h1>
    <table>
        {% for producer in producers %}
            <tr>
                {% for cell in producer %}
                    <td style="border: 1px solid white; font-family:'Arial';">{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>


    <h1>{% trans %}Médaille a insérer{% endtrans %}</h1>
    <table>
        {% for medal in medal %}
            <tr>
                {% for cell in medal %}
                    <td style="border: 1px solid white; font-family:'Arial';">{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <h1>{% trans %}Tableau des expéditions{% endtrans %}</h1>
    <table>
        {% for shipment in shipments %}
            <tr>
                {% for cell in shipment %}
                    <td style="border: 1px solid white; font-family:'Arial';">{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>



    <h1>{% trans %}Tableau des options de livraison{% endtrans %}</h1>
    <table>
        {% for shipoption in shipoptions %}
            <tr>
                {% for cell in shipoption %}
                    <td style="border: 1px solid white; font-family:'Arial';">{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    {% endif %}

    </div>
{% endblock %}