{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/excel.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/table-template.css') }}" rel="stylesheet"/>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/item.js') }}"></script>
{% endblock %}

{% block body %}




    <div class="text-center content">

        {% if Error is defined %}


            <div class="container overflow-hidden">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="section-heading">{% trans %}Erreur{% endtrans %}</h1>
                        <img class="style_logo" src="{{ asset('img/error_excel.png') }}" alt="logo" height=100>
                        <ul class="espace_br">
                            <li>
                                <a class="btn btn-primary btn-circle" href="{{ path('excel_index') }}">{% trans %}Retour{% endtrans %}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        {% else %}
            <div class="container overflow-hidden">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{% trans %}Importation réussie{% endtrans %}</h1>
                        <img class="style_logo" src="{{ asset('img/ok_excel.png') }}" alt="logo" height=100>
                    </div>
                </div>
            </div>




            <div class="container overflow-hidden">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="espace_titre">{% trans %}Produits insérés{% endtrans %}</h1>
                    </div>
                </div>
            </div>
            <div class="table-responsive table-template tableau-vins">
                <table class="table table-hover">
                    {% for product in products %}
                        <tr>
                            {% for cell in product %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
             </div>





            <div class="container overflow-hidden">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="espace_titre">{% trans %}Producteurs insérés{% endtrans %}</h1>
                    </div>
                </div>
            </div>
            <div class="table-responsive table-template tableau-vins">
                <table class="table table-hover">
                    {% for producer in producers %}
                        <tr>
                            {% for cell in producer %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>



            <div class="container overflow-hidden">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="espace_titre">{% trans %}Médailles insérées{% endtrans %}</h1>
                    </div>
                </div>
            </div>
            <div class="table-responsive table-template tableau-vins">
                <table class="table table-hover">
                {% for medal in medal %}
                    <tr>
                        {% for cell in medal %}
                            <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            </div>



            <div class="container overflow-hidden">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="espace_titre">{% trans %}Tableau des expéditions{% endtrans %}</h1>
                    </div>
                </div>
            </div>
            <div class="table-responsive table-template tableau-vins">
                <table class="table table-hover">
                    {% for shipment in shipments %}
                        <tr>
                            {% for cell in shipment %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>



            <div class="container overflow-hidden">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="espace_titre">{% trans %}Tableau des options de livraison{% endtrans %}</h1>
                    </div>
                </div>
            </div>
            <div class="table-responsive table-template tableau-vins">
                <table class="table table-hover">
                    {% for shipoption in shipoptions %}
                        <tr>
                            {% for cell in shipoption %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>


        {% endif %}

    </div>
{% endblock %}