{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/mise_en_page_admin.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="text-center content contour">
        <h1>{% trans %}Portail d'administration{% endtrans %}</h1>
        <hr/>
        <a class="btn btn-primary btn-circle" href="{{ path("excel_index") }}">
            <div class="texte">{% trans %}Importation Excel{% endtrans %}</div>
        </a>
        <hr/>
        <h4>{% trans %}Gestion Produits et Concours{% endtrans %}</h4>
        <div class="text-center">
            <a class="btn btn-primary btn-circle" href="{{ path("product_list", {type:'wine'}) }}">
                <div class="texte">{% trans %}Gestion des Vins{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path("product_list", {type:'spirit'}) }}">
                <div class="texte">{% trans %}Gestion des Spiritueux{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path("universe_index") }}">
                <div class="texte">{% trans %}Gestion des Univers{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path('medal_index') }}">
                <div class="texte">{% trans %}Gestion des Médailles{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path('competition_index') }}">
                <div class="texte">{% trans %}Gestion des Concours{% endtrans %}</div>
            </a>
        </div>
        <hr/>
        <h4>{% trans %}Gestion Utilisateurs et Commandes{% endtrans %}</h4>
        <div class="text-center">
            <a class="btn btn-primary btn-circle" href="{{ path('userconsumer_index') }}">
                <div class="texte">{% trans %}Gestion des Utilisateurs{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path('userproducer_index') }}">
                <div class="texte">{% trans %}Gestion des Producteurs{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path('validationProducer') }}">
                <div class="texte">{% trans %}Autorisation Producteurs{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path('userwholesale_index') }}">
                <div class="texte">{% trans %}Gestion des Utilisateurs Pro{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path('delivery_index') }}">
                <div class="texte">{% trans %}Gestion des Types de Livraisons{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path('purchase_index') }}">
                <div class="texte">{% trans %}Gestion des Commandes{% endtrans %}</div>
            </a>

        </div>
        <hr/>
        <h4>{% trans %}Gestion de l'Espace Presse{% endtrans %}</h4>
        <div class="text-center">
            <a class="btn btn-primary btn-circle" href="{{ path('news_index') }}">
                <div class="texte">{% trans %}News{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path("files_index") }}">
                <div class="texte">{% trans %}Gestion des Communiqués{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path("validationPresse") }}">
                <div class="texte">{% trans %}Gestion des Accréditations{% endtrans %}</div>
            </a>
        </div>
    </div>
{% endblock %}


