{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="text-center content">
        <h1>{% trans %}Gestion BDD{% endtrans %}</h1>
        <div class="text-center">
            <a class="btn btn-primary btn-circle" href="{{ path("product_list", {type:'wine'}) }}">
                <div class="texte">{% trans %}Gestion Vin{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path("product_list", {type:'spirit'}) }}">
                <div class="texte">{% trans %}Gestion Spiritueux{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path("universe_index") }}">
                <div class="texte">{% trans %}Gestion Univers{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path("excel_index") }}">
                <div class="texte">{% trans %}Importation Excel{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path('validationProducer') }}">
                <div class="texte">{% trans %}Gestion Producteurs{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path('userconsumer_index') }}">
                <div class="texte">{% trans %}Gestion Utilisateurs{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path('purchase_index') }}">
                <div class="texte">{% trans %}Gestion Commandes{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path('news_index') }}">
                <div class="texte">{% trans %}News{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path('conditioning_index') }}">
                <div class="texte">{% trans %}Gestion Conditionements{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path('competition_index') }}">
                <div class="texte">{% trans %}Gestion Concours{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path('medal_index') }}">
                <div class="texte">{% trans %}Gestion Médailles{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path('userproducer_index') }}">
                <div class="texte">{% trans %}Gestion Producteurs{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path('userwholesale_index') }}">
                <div class="texte">{% trans %}Gestion Utilisateurs Pro{% endtrans %}</div>
            </a>
        </div>
        <h2>{% trans %}Gestion Presse{% endtrans %}</h2>
        <div class="text-center">
            <a class="btn btn-primary btn-circle" href="{{ path("validationPresse") }}">
                <div class="texte">{% trans %}Gestion Accréditations{% endtrans %}</div>
            </a>
            <a class="btn btn-primary btn-circle" href="{{ path("files_index") }}">
                <div class="texte">{% trans %}Gestion Communiqués{% endtrans %}</div>
            </a>
        </div>
    </div>
{% endblock %}


