{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/validPresse.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/table-template.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/product.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-heading">{% trans %}Gestion des droits d'accès à l'espace Presse{% endtrans %}</h3>
            </div>
        </div>
    </div>
        {{ form_start(form) }}
    <div class="table-responsive table-template tableau_media">
        <table class="table table-hover">
            <thead class="thead-default">
                <tr class="color-title">
                    <th>Id</th>
                    <th>{% trans %}Nom journaliste{% endtrans %}</th>
                    <th>{% trans %}Justificatif (carte presse){% endtrans %}</th>
                    <th>{% trans %}Justificatif (adresse du blog){% endtrans %}</th>
                    <th>{% trans %}Droit d'accès au contenu Média{% endtrans %}</th>
                    <th>{% trans %}Supprimer{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% set i = 0 %}
            {% for media in medias %}
                <tr>
                    <td class="id">{{ media.id }}</td>
                    <td class="nom">{{ media.companyName }}</td>
                    <td class="justificatif-carte">{{ media.idPresse }}</td>
                    <td class="justificatif-adresse">{{ media.urlBlog }}</td>
                    <td class="droit">{{ form_widget(attribute(form, 'media_'~media.id))}}</td>
                    <td class="droit">
                        <a href="{{ path('media_delete', {id: media.id}) }}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a></td>
                </tr>
                {% set i = i + 1 %}
            {% endfor %}
                    <tr>
                        <td colspan="4"></td>
                        <td>{{ form_widget(form.save) }}</td>
                    </tr>
            </tbody>
        </table>
    </div>
        {{ form_end(form) }}
{% endblock %}


