{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/theme-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/edit.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="content">
    <h1>Edition Communiqués</h1>
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
        <table>
            <td>
    <input class="btn btn-primary btn-circle" type="submit" value="Edit"/>
    {{ form_end(edit_form) }}

            </td>
            <td>
            <a  class="btn btn-primary btn-circle" href="{{ path('files_index') }}">Back to the list</a>
            </td>
            {{ form_start(delete_form) }}
            <td>
            <input class="btn btn-primary btn-circle" type="submit" value="Delete">
            </td>
            {{ form_end(delete_form) }}
        </table>
    </div>
{% endblock %}
