{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-heading">{% trans %}Communiqués Presse{% endtrans %}</h3>
            </div>
        </div>
    </div>
    <br>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Date{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>Url</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
                <tr>
                    <td>{{ file.id }}</td>
                    <td>{{ file.date|date("d/m/Y") }}</td>
                    <td>{{ file.name }}</td>
                    <td><a href="{{ asset(file.url) }}">{{ asset(file.url) }}</a></td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('files_edit', { 'id': file.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <ul>
        <li>
            <a class="btn btn-primary btn-circle" href="{{ path('files_new') }}">{% trans %}Create a new file{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}
