<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    {% block meta %}{% endblock %}
    <title>{% block title %}Box Office Wines{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/bootstrap-dark.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/theme-dark.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/footer.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/navbar.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/message_confirmation.css') }}" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
    {% endblock %}

    <script type="text/javascript">
        var refresh_route = "{{ path("refresh") }}";
        var translate     = {quantity : "{% trans %}Quantity{% endtrans %}"};
    </script>


    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body ondragstart="return false;">

<div id="bandeau-age">
    <div class="bandeau">
        <h2>{% trans %}Ce site propose de la vente d'alcool. En poursuivant sur ce site, vous confirmez avoir plus de 18 ans.{% endtrans %}</h2>
        <button type="submit" name="submit" id="bouton-bandeau" class=" btn-default btn-lg">
            {% trans %}Je confirme{% endtrans %}
        </button>
        <button type="button" onclick="history.go(-1);" class=" btn-default btn-lg">
            {% trans %}Non (retour page précédente){% endtrans %}
        </button>
    </div>
</div>

<nav class="navbar navbar-fixed-top shadow" id="js-nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{{ path("homepage") }}">
                <img class="style_logo" src="{{ asset('img/logo.png') }}" alt="logo">
            </a>
        </div>
            <div class="navbar-collapse collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path("homepage") }}">{% trans %}Accueil{% endtrans %}</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path("admin_index") }}">{% trans %}Admin{% endtrans %}</a></li>
                    {% endif %}
                    <li><a href="{{ path("news_public") }}">News</a></li>
                    {% if is_granted('ROLE_CONSUMER') %}
                        <li><a href="{{ path("profil") }}">{% trans %}Compte{% endtrans %}</a></li>
                        <li><a href="{{ path("contact") }}">{% trans %}Nous Contacter{% endtrans %}</a></li>
                        <li><a href="{{ path("qui_sommes_nous") }}">{% trans %}Qui Sommes-Nous ?{% endtrans %}</a></li>
                        <li><a href="{{ path("fos_user_security_logout") }}">{% trans %}Déconnexion{% endtrans %}</a></li>
                    {% elseif is_granted('ROLE_PRODUCER') %}
                        <li><a href="{{ path("producer_space") }}">{% trans %}Vos Produits{% endtrans %}</a></li>
                        <li><a href="{{ path("profil") }}">{% trans %}Compte{% endtrans %}</a></li>
                        <li><a href="{{ path("contact") }}">{% trans %}Nous Contacter{% endtrans %}</a></li>
                        <li><a href="{{ path("qui_sommes_nous") }}">{% trans %}Qui Sommes-Nous ?{% endtrans %}</a></li>
                        <li><a href="{{ path("fos_user_security_logout") }}">{% trans %}Déconnexion{% endtrans %}</a></li>
                    {% elseif is_granted('ROLE_MEDIA') %}
                        <li><a href="{{ path("media_index") }}">{% trans %}Presse{% endtrans %}</a></li>
                        <li><a href="{{ path("profil") }}">{% trans %}Compte{% endtrans %}</a></li>
                        <li><a href="{{ path("contact") }}">{% trans %}Nous Contacter{% endtrans %}</a></li>
                        <li><a href="{{ path("qui_sommes_nous") }}">{% trans %}Qui Sommes-Nous ?{% endtrans %}</a></li>
                        <li><a href="{{ path("fos_user_security_logout") }}">{% trans %}Déconnexion{% endtrans %}</a></li>
                    {% else %}
                        <li><a href="{{ path("contact") }}">{% trans %}Nous Contacter{% endtrans %}</a></li>
                        <li><a href="{{ path("qui_sommes_nous") }}">{% trans %}Qui Sommes-Nous ?{% endtrans %}</a></li>
                        <li><a class="inscription" href="{{ path("inscription_choix") }}">{% trans %}S'inscrire{% endtrans %}</a></li>
                        <li><a class="connexion" href="{{ path("fos_user_security_login") }}">{% trans %}Se Connecter{% endtrans %}</a></li>
                    {% endif %}


                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="language" rel="fr-FR" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img src="{{ asset('img/flag_fr.png') }}" alt="Francais" /></a></li>
                        <li><a class="language" rel="us-EN" href="{{  path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'}))}}"><img src="{{ asset('img/flag_an.png') }}" alt="Anglais" /></a></li>
                    </ul>
                </ul>
            </div>
    </div>
</nav>
{% if app.session.flashBag.has('success') %}
    <div class="alert alert-success">
        {% for msg in app.session.flashBag.get('success') %}
            {{ msg }}
        {% endfor %}
    </div>
{% endif %}
<span id="items-counter" class="h3 cart-items-counter" style="display: none;">0</span>
<div class="cart-widget-container">
    <div class="cart-widget text-center">
        <a class="close" id="cart-widget-close">
            ✘
        </a>
        <img class="cart-logo" src="{{ asset("img/logo.png") }}" alt="store logo" width="200">
        <h3 class="section-heading">{% trans %}Mon panier{% endtrans %}</h3>
        <!-- EMPTY CART MESSAGE -->
        <div id="cart-empty" class="cart-empty">
            <h4>{% trans %}vide{% endtrans %}</h4>
        </div>
        <!-- / EMPTY CART MESSAGE -->

        <!-- CONTAINER FOR JS INJECT CART ITEMS, DON'T CHANGE ID AND CLASS -->
        <div class="items-container" id="items"></div>
        <!-- / CONTAINER FOR JS INJECT CART ITEMS, DON'T CHANGE ID AND CLASS -->

        <!-- CART SUMMARY CALCULATION -->
        <div class="cart-summary" id="cart-summary">
            <h4 class="section-heading">Total</h4>
            <div class="cart-summary-row cart-summary-row-total" id="cart-total">Total<span class="cart-value"><span id="cost_value">0.00</span>€</span></div>
        </div>
        <!-- / CART SUMMARY CALCULATION -->

        <!-- HIDDEN PAYPAL FORM -->
        <form action="{{ path("cart_view") }}" method="post" class="cart-form" id="cart-form" name="form">

            <input name="id_list" id="id_list" value="" type="hidden">
            <input name="conditioning_type_list" id="conditioning_type_list" value="" type="hidden">
            <input name="quantity_list" id="quantity_list" value="" type="hidden">
            <!-- Display the payment button. -->
            <button type="submit" name="submit" class="btn btn-default btn-lg" id="paiement-paypal">
                {% trans %}paiement paypal{% endtrans %} ⯈</span>
            </button>
        </form>
        <!-- / HIDDEN PAYPAL FORM -->
    </div>
    <div class="cart-widget-close-overlay"></div>
</div>

{% block body %}
{% endblock %}







<!----------- Footer ------------>
<div class="section section-min">
    <footer class="footer">
        <div class="container" id="large_footer">
            <div class="row color-textfooter">
                <div class="col-md-3 col-sm-3 col-xs-7">
                    <h4><a href="{{ path("homepage") }}"><img class="style_logo_footer" src="{{ asset('img/logo.png') }}" alt="logo"></a></h4>
                    <p>{% trans %}Toujours copié, Quelques fois imité, Parfois plagié ... Mais...Toujours les Premiers !{% endtrans %}<br>© 2017, All rights reserved.</p>
                    <p><i>Designed by ISEN Toulon</i></p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-5">
                    <h4>Menu</h4>
                        <ul class="list">
                            <li><a href="{{ path("qui_sommes_nous") }}">{% trans %}Qui Sommes-Nous ?{% endtrans %}</a></li>
                            <li><a href="{{ path("contact") }}">Contacts</a></li>
                            <li><a href="{{ path("mentions_legales") }}">{% trans %}Mentions légales{% endtrans %}</a></li>
                        </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-7">
                    <h4>{% trans %}Suivez-nous !{% endtrans %}</h4>
                    <ul>
                        <li><a href="http://www.facebook.com" class="ti-facebook"> Facebook</a></li>
                        <li><a href="http://www.twitter.com" class="ti-twitter-alt"> Twitter</a></li>
                        <li><a href="http://www.linkedin.com" class="ti-linkedin"> LinkedIn </a></li>
                        <li><a href="http://www.instagram.com" class="ti-instagram"> Instagram</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-5">
                    <h4>{% trans %}Recevoir nos actualités{% endtrans %}</h4>
                    <div class="footer-newsletter">
                        <div class="center text-center">
                            <form action="{{ path('news_letter_registration') }}" method="POST">
                                <div class="input-group">
                                    <input id="input-newsletter" class="text-newsletter" name="email" type="text" placeholder="e-mail">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#myModal"><span class="ti-arrow-right"></span></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<!------------------------Bandeau cookies------------------------------->

<script src="{{ asset('js/cookiechoices.js') }}"></script><script>document.addEventListener('DOMContentLoaded', function(event){cookieChoices.showCookieConsentBar('Ce site utilise des cookies pour vous offrir le meilleur service. En poursuivant votre navigation, vous acceptez l’utilisation des cookies.', 'J’accepte', 'En savoir plus', '{{ path("mentions_legales") }}');});</script>


{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/bundle.js') }}"></script>
    <script src="{{ asset('js/backpage.js') }}"></script>
{% endblock %}
</body>
</html>