{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/theme-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-heading">{% trans %}Gestion des Univers{% endtrans %}</h3>
            </div>
        </div>
    </div>
    <br><br>
    <div class="table-responsive tableau_univers">
    <table class="table table-hover">
        <thead class="thead-default">
        <tr class="color-title">
            <th>{% trans %}ID{% endtrans %}</th>
            <th>{% trans %}Nom{% endtrans %}</th>
            <th>{% trans %}Description{% endtrans %}</th>
            <th>{% trans %}Actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for universe in universes %}
            <tr>
                <td><a href="{{ path('universe_show', { 'id': universe.id }) }}">{{ universe.id }}</a></td>
                <td>{{ universe.name }}</td>
                <td>{{ universe.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('universe_show', { 'id': universe.id }) }}">{% trans %}
                                Afficher{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('universe_edit', { 'id': universe.id }) }}">{% trans %}
                                Modifier{% endtrans %}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <br><br>
    <ul>
        <li>
            <a href="{{ path('universe_new') }}">
                <div class="btn btn-primary btn-circle">{% trans %}Créer un Univers {% endtrans %}</div>
            </a>
        </li>
    </ul>
{% endblock %}