{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/theme-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/univers.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bundle.js') }}"></script>
    <script src="{{ asset('js/univers.js') }}"></script>
{% endblock %}

{% block body %}
    <span id="items-counter" class="h3 cart-items-counter" style="display: none">0</span>
    <div class="cart-widget-container">
        <div class="cart-widget text-center">
            <a class="close" id="cart-widget-close">
                ✘
            </a>
            <img class="cart-logo" src="img/logo-white.png" alt="store logo" width="200">
            <h3 class="section-heading">Votre panier</h3>
            <!-- EMPTY CART MESSAGE -->
            <div id="cart-empty" class="cart-empty">
                <h4>vide</h4>
            </div>
            <!-- / EMPTY CART MESSAGE -->

            <!-- CONTAINER FOR JS INJECT CART ITEMS, DON'T CHANGE ID AND CLASS -->
            <div class="items-container" id="items"></div>
            <!-- / CONTAINER FOR JS INJECT CART ITEMS, DON'T CHANGE ID AND CLASS -->

            <!-- CART DELIVERY OPTIONS -->
            <div class="cart-delivery" id="cart-delivery">
                <h4 class="section-heading">Option de livraison</h4>
                <div class="custom-radio">
                    <input id="radio1" name="delivery" value="10.00" checked="" type="radio">
                    <label for="radio1">livraison à domicile ($10)</label>
                </div>

                <div class="custom-radio">
                    <input id="radio2" name="delivery" value="15.00" type="radio">
                    <label for="radio2">livraison à domicile express ($15) </label>
                </div>

                <div class="custom-radio">
                    <input id="radio3" name="delivery" value="20.00" type="radio">
                    <label for="radio3">livraison internationale ($20)</label>
                </div>
            </div>
            <!-- / CART DELIVERY OPTIONS -->

            <!-- CART SUMMARY CALCULATION -->
            <div class="cart-summary" id="cart-summary">
                <h4 class="section-heading">Total</h4>
                <div class="cart-summary-row" id="cart-total">Total des produits <span class="cart-value">$<span id="cost_value">0.00</span></span></div>
                <div class="cart-summary-row">livraison <span class="cart-value">$<span id="cost_delivery">15.00</span></span></div>
                <div class="cart-summary-row cart-summary-row-total">Total <span class="cart-value">$<span id="total-total"></span></span></div>
            </div>
            <!-- / CART SUMMARY CALCULATION -->

            <!-- HIDDEN PAYPAL FORM -->
            <form action="{{ path("cart_view") }}" method="post" class="cart-form" id="cart-form" name="form">
                <!-- Identify your business so that you can collect the payments. -->
                <input name="business" value="yourpaypal@email.com" type="hidden">
                <!-- Specify a Buy Now button. -->
                <input name="cmd" value="_xclick" type="hidden">
                <!-- Specify details about the item that buyers will purchase. -->
                <input name="item_name" value="Total - checkout" type="hidden">
                <input name="amount" id="amount" value="0.00" type="hidden">
                <input name="id_list" id="id_list" value="" type="hidden">
                <input name="quantity_list" id="quantity_list" value="" type="hidden">
                <input name="currency_code" value="EUR" type="hidden">
                <!-- Display the payment button. -->
                <button type="submit" name="submit" class="btn-default btn-lg">
                    paiement paypal ⯈</span>
                </button>
            </form>
            <!-- / HIDDEN PAYPAL FORM -->
        </div>
        <div class="cart-widget-close-overlay"></div>
    </div>

    <div class="universe-bandeau" id="universe-bandeau" >
        {% set picture = universe.pictures|last %}
        <img class="universe-img" src="/img/upload/{{ picture.url}}" alt="{{ picture.alt}}"/>
        <p id="universe-name">{{ universe.name }}</p>
        <p class="universe-description"> L, non convallis felis. Donec tempor, lorem in placerat porttitor, orci arcu convallis odio, tincidunt vestibulum metus nibh vel elit. Sed bibendum vel nisi quis lacinia. Sed at dignissim metus, ut convallis eros. Nulla finibus, ante eget pretium gravida, arcu nibh sollicitudin risus, vitae efficitur libero erat et eros.{{ universe.description }}</p>
    </div>
    <!-- Barre Laterale -->
    <div class="barre_laterale barre_color_police" id="sidebar">
        <form method="post" action="traitement.php">
            <div class="barre_color_police">
                <label for="recherche">Recherche: </label><br />
            </div>
            <div class="barre_color_list">
                <input class="champ" type="search" maxlength="30" size="12"/><br />
            </div>
            <p>
                <div class="barre_color_police">
                    <label for="vin_gamme">Gamme de vin:</label><br />
                </div>
                <div class="barre_color_list">
                    <select name="vin_gamme" id="vin_gamme" class="champ">
                        <option value=""></option>
                        <option value="Premium">Premium</option>
                        <option value="Super_premium">Super premium</option>
                        <option value="Ultra_premium">Ultra premium</option>
                        <option value="Icon">Icon</option>
                    </select>
                </div>
            </p>
            <p>
                <div class="barre_color_police">
                    <label for="vin_type">Type de vin:</label><br />
                </div>
                <div class="barre_color_list">
                    <select name="vin_type" id="vin_type" class="champ">
                        <option value=""></option>
                        <option value="Rouge_tannique">Rouge tannique</option>
                        <option value="Rouge_puissant">Rouge puissant</option>
                        <option value="Rouge_corse">Rouge corsé</option>
                    </select>
                </div>
            </p>
            <br />
            <div class="barre_color_police range">
                <label>Prix:</label>
                <input type="range" value="15" max="1000" min="0" step="10">
                <br /><br />
            </div>
            <details>
                <summary>Critères avancés</summary>
                <br />
                <fieldset>
                    <div class="barre_color_police"><label> Choix de la région :</label></div>
                    <p>
                        <div class="barre_color_list">
                            <select name="vin_region" id="vin_region" class="champ">
                                <optgroup label="Region">
                                    <option value=""> </option>
                                    <option value="Europe">Europe</option>
                                    <option value="Asie">Asie</option>
                                    <option value="Amerique">Amérique</option>
                                    <option value="Oceanie">Océanie</option>
                                </optgroup>
                            </select>
                        </div>
                    </p>
                    <div class="barre_color_police"><label>Choix du cépage :</label></div>
                    <p>
                        <input type="radio" id="d1" name="cepage"><label for="d1">Rouge</label>
                        <input type="radio" id="d2" name="cepage"><label for="d2">Blanc</label>
                        <div class="barre_color_list">
                            <select name="vin_cepage" id="vin_cepage" class="champ">
                                <optgroup label="Cepage">
                                    <option value=""> </option>
                                    <option value="Cabernet sauvignon">Cabernet sauvignon</option>
                                    <option value="Merlot">Merlot</option>
                                    <option value="Syrah">Syrah</option>
                                </optgroup>
                            </select>
                        </div>
                    </p>
                </fieldset>
            </details>
            <br />
            <div class="barre_color_list">
                <input class="champ" type="submit" value="Envoyer" />
            </div>
        </form>
    </div>
    <div class="section-product">
        <!-- Autre -->
        <section class="section-product-table" id="section-product-table">
            <div class="product-table-title">
                <h3 class="section-heading">Tous les produits</h3>
            </div>
            <div class="text-center">
                <div class="product-table" id="product-table">
                    <ul class="product-holder">
                        {% for product in products %}
                            <li>
                                <div class="text-center">
                                    <a href="{{ path('product_show', {id:product.id}) }}" >
                                        <span class="product-list-primary-img">
                                            {% set picture = product.pictures|last %}
                                            <img alt="product image" class="product-list-primary-img table-primary-img" src="/img/upload/{{ picture.url }}" />
                                             <br>
                                        </span>
										<span class="swiper-slide text-center table-product-text">
											<span class="table-product-name">{{ product.name }}</span><br>
											<span class="table-product-price">{{ product.price }} €</span>
										</span>
                                    </a>
                                </div>
                                <span class="btn add-item wow swing" {% if picture %}data-image="/img/upload/{{ picture.url}}"{% endif %}  data-name="{{ product.name }}" data-cost="{{ product.price }}" data-id="{{ product.id }}">
                                    <img alt="e-commerce" src="{{ asset('img/product/panier.png') }}" height="55">
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock %}


