{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/univers.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/champ_recherche.css') }}" rel="stylesheet" />
    <style type="text/css">
        form { position: relative; }
        input[type="range"] {
            position: relative;
            margin-left: 1em;
        }
        input[type="range"]:after, input[type="range"]:before {
            position: absolute;
            top: 1em;
            color: #aaa;
        }
        input[type="range"]:before {
            left:0em;
            content: attr(min);
        }
        input[type="range"]:after {
            right: 0em;
            content: attr(max);
        }
        output {
            position: absolute;
            top: -18px; left: 75px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function(){
            $("#productbundle_product_price_max").after('<output></output>');
            $("#productbundle_product_price_max").change(function(){
                var valof = $(this).val();
                $('output').text(valof);
            });
        });
    </script>
{% endblock %}

{% block body %}
    <div class="espace"></div>
    <div class="universe-bandeau" id="universe-bandeau" >
        {% set picture = universe.pictures|last %}
        <img id="flou" class="universe-img" src="{{ asset(picture.url) }}" alt="{{ picture.alt }}"/>
        <h1 id="universe-name">{{ universe.name }}</h1>
        <h3 class="universe-description">{{ universe.description }}</h3>
    </div>


    <div id="Recherche">
            <h1 class="Rech">Recherche</h1>
            {{ form_start(search_form) }}
            {{ form_widget(search_form) }}
            <table>
                <td>
                    <input id="Search1" class="btn btn-primary btn-circle" type="submit" value="Rechercher" />
                </td>
            </table>
            {{ form_end(search_form) }}
    </div>


    <div id="Produits">
        {{ dump() }}
        <ul class="product-holder">
            {% for product in products|sortbyfield('minPrice')|reverse %}
                <li>
                    <div class="text-center">
                        <a href="{{ path('product_show', {id:product.id}) }}" >
                            <span class="product-list-primary-img">
                                {% set picture = product.pictures|last %}
                                <img alt="product image" class="product-list-primary-img table-primary-img"
                                     {% if picture is empty %}
                                            src="{{ asset('./img/product/defaultProduct.jpeg') }}"/>
                                        {% else %}
                                            src="{{ asset(picture.url) }}"/>
                                     {% endif %}
                                 <br>
                            </span>
                            <span class="swiper-slide text-center table-product-text">
                                <span class="table-product-name">{{ product.displayName }}</span><br>
                            </span>
                            {% if product.MinPrice %}
                                <p>{% trans %}A partir de{% endtrans %} {{ product.MinPrice|number_format(2,'.',',') }}€</p>
                            {% else %}
                                <p>{% trans %}Produit non disponible{% endtrans %}</p>
                            {% endif %}
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}



