{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/univers.css') }}" rel="stylesheet" />

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/univers.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="universe-bandeau" id="universe-bandeau" >
        {% set picture = universe.pictures|last %}
        <img class="universe-img" src="{{ asset(picture.url) }}" alt="{{ picture.alt }}"/>
        <p id="universe-name">{{ universe.name }}</p>
        <p class="universe-description">{{ universe.description }}</p>
    </div>
    <!-- Barre Laterale -->

    <div class="barre_laterale barre_color_police" id="sidebar">

        <form method="post" action="traitement.php">
            <div class="barre_color_police">
                <label for="recherche">{% trans %}Search{% endtrans %} </label><br />
            </div>
            <div class="barre_color_list">
                <input class="champ" type="search" maxlength="30" size="12"/><br />
            </div>
            <p>
                <div class="barre_color_police">
                    <label for="vin_gamme">{% trans %}Range{% endtrans %}:</label><br />
                </div>
                <div class="barre_color_list">
                    <select name="vin_gamme" id="vin_gamme" class="champ">
                        <option value=""></option>
                        <option value="Premium">Premium</option>
                        <option value="Super_premium">Super premium</option>
                        <option value="Ultra_premium">Ultra premium</option>
                        <option value="Icon">Icon</option>
                    </select>
                </div>
            </p>
            <p>
                <div class="barre_color_police">
                    <label for="vin_type">{% trans %}Type{% endtrans %}:</label><br />
                </div>
                <div class="barre_color_list">
                    <select name="vin_type" id="vin_type" class="champ">
                        <option value=""></option>
                        <option value="Rouge_tannique">Rouge tannique</option>
                        <option value="Rouge_puissant">Rouge puissant</option>
                        <option value="Rouge_corse">Rouge corsé</option>
                    </select>
                </div>
            </p>
            <br />
            <div class="barre_color_police range">
                <label>{% trans %}Price{% endtrans %}:</label>
                <input type="range" value="15" max="1000" min="0" step="10">
                <br /><br />
            </div>
            <details>
                <summary>{% trans %}Advanced{% endtrans %}</summary>
                <br />
                <fieldset>
                    <div class="barre_color_police"><label>{% trans %}Region{% endtrans %}:</label></div>
                    <p>
                        <div class="barre_color_list">
                            <select name="vin_region" id="vin_region" class="champ">
                                <optgroup label="Region">
                                    <option value=""> </option>
                                    <option value="Europe">Europe</option>
                                    <option value="Asie">Asie</option>
                                    <option value="Amerique">Amérique</option>
                                    <option value="Oceanie">Océanie</option>
                                </optgroup>
                            </select>
                        </div>
                    </p>
                    <div class="barre_color_police"><label>{% trans %}Cepage{% endtrans %}:</label></div>
                    <p>
                        <input type="radio" id="d1" name="cepage"><label for="d1">{% trans %}Red{% endtrans %}</label>
                        <input type="radio" id="d2" name="cepage"><label for="d2">{% trans %}White{% endtrans %}</label>
                        <div class="barre_color_list">
                            <select name="vin_cepage" id="vin_cepage" class="champ">
                                <optgroup label="Cepage">
                                    <option value=""> </option>
                                    <option value="Cabernet sauvignon">Cabernet sauvignon</option>
                                    <option value="Merlot">Merlot</option>
                                    <option value="Syrah">Syrah</option>
                                </optgroup>
                            </select>
                        </div>
                    </p>
                </fieldset>
            </details>
            <br />
            <div class="barre_color_list">
                <input class="champ" type="submit" value="{% trans %}Submit{% endtrans %}" />
            </div>
        </form>
    </div>
    <div class="section-product">
        <!-- Autre -->
        <section class="section-product-table" id="section-product-table">
            <div class="product-table-title">
                <h3 class="section-heading">{% trans %}Invitation{% endtrans %}</h3>
            </div>
            <div class="text-center">
                <div class="product-table" id="product-table">
                    <ul class="product-holder">
                        {% for product in universe.products %}
                            <li>
                                <div class="text-center">
                                    <a href="{{ path('product_show', {id:product.id}) }}" >
                                        <span class="product-list-primary-img">
                                            {% set picture = product.pictures|last %}
                                            <img alt="product image" class="product-list-primary-img table-primary-img"
                                                 src="{{ asset(picture.url) }}"/>
                                             <br>
                                        </span>
										<span class="swiper-slide text-center table-product-text">
											<span class="table-product-name">{{ product.displayName }}</span><br>
											<span class="table-product-price">{{ product.price }} €</span>
										</span>
                                    </a>
                                </div>
                                <span class="btn add-item wow swing"
                                      {% if picture %}data-image="{{ asset(picture.url) }}"{% endif %}
                                      data-name="{{ product.name }}" data-cost="{{ product.price }}"
                                      data-id="{{ product.id }}">
                                    <img alt="e-commerce" src="{{ asset('img/product/panier.png') }}" height="55">
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock %}


