{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/univers.css') }}" rel="stylesheet" />

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="espace"></div>
    <div class="universe-bandeau" id="universe-bandeau" >
        {% set picture = universe.pictures|last %}
        <img id="flou" class="universe-img" src="{{ asset(picture.url) }}" alt="{{ picture.alt }}"/>
        <h1 id="universe-name">{{ universe.name }}</h1>
        <h3 class="universe-description">{{ universe.description }}</h3>
    </div>


    <div id="Recherche">

            {{ form_start(search_form) }}
            {{ form_widget(search_form) }}
            <table>
                <td>
                    <input class="btn btn-primary btn-circle" type="submit" value="Rechercher" />
                </td>
            </table>
            {{ form_end(search_form) }}
    </div>


    <div id="Produits">
        {{ dump(products) }}
        <ul class="product-holder">
            {% for product in products %}
                {% if product in universe.products %}
                <li>
                    <div class="text-center">
                        <a href="{{ path('product_show', {id:product.id}) }}" >
                            <span class="product-list-primary-img">
                                {% set picture = product.pictures|last %}
                                <img alt="product image" class="product-list-primary-img table-primary-img"
                                     src="{{ asset(picture.url) }}"/>
                                 <br>
                            </span>
                            <span class="swiper-slide text-center table-product-text">
                                <span class="table-product-name">{{ product.displayName }}</span><br>
                            </span>
                            {% if product.MinPrice %}
                                <p>{% trans %}A partir de{% endtrans %} {{  product.MinPrice }}€</p>
                            {% else %}
                                <p>{% trans %}Produit non disponible{% endtrans %}</p>
                            {% endif %}
                        </a>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

{% endblock %}



