{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Userwholesales list{% endtrans %}</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>{% trans %}Companyname{% endtrans %}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for userWholesale in userWholesales %}
            <tr>
                <td><a href="{{ path('userwholesale_show', { 'id': userWholesale.id }) }}">{{ userWholesale.id }}</a>
                </td>
                <td>{{ userWholesale.companyName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('userwholesale_show', { 'id': userWholesale.id }) }}">{% trans %}Show{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('userwholesale_edit', { 'id': userWholesale.id }) }}">{% trans %}Edit{% endtrans %}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('userwholesale_new') }}">{% trans %}Create a new userWholesale{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}
