{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Userwholesale{% endtrans %}</h1>

    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ userWholesale.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Companyname{% endtrans %}</th>
            <td>{{ userWholesale.companyName }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('userwholesale_index') }}">{% trans %}Back to the list{% endtrans %}</a>
        </li>
        <li>
            <a href="{{ path('userwholesale_edit', { 'id': userWholesale.id }) }}">{% trans %}Edit{% endtrans %}</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="{% trans %}Delete{% endtrans %}">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
