{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/edit.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/formulaire.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('uploader/fancybox/source/jquery.fancybox.css') }}">
    <link href="{{ asset('css/mise_en_page_admin.css') }}" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="contour">
        <div id="content">
            <h2>{% trans %}Edit Wine{% endtrans %}</h2>
            <br><br>
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}


            <a  id="button" class="clic" href="{{ asset('uploader/fancybox.php') }}?iframe">{% trans %}Load a picture{% endtrans %}</a>
            <input type="text" id="chemin" name="urlImg" required>

            <br>
            <table>
                {% for picture in pictures %}
                    <tr>
                        <td class="url">{{ picture.url }}</td>
                        <td><div class="pic1"><a href="{{ asset(picture.url) }}"><img src="/img/adminlogo/eye.png" alt="preview" style="height: 30px;"></a></div></td>
                        <td>
                            <div class="pic1"><a
                                        href="{{ path('product_del_img', { 'id': wine.id, 'idImg': picture.id}) }}"><img
                                            src="/img/adminlogo/trash.png" alt="delete" style="height: 30px;"></a></div>
                        </td>
                        <td class="supprimer"></td>
                    </tr>
                {% endfor %}
            </table>
            {{ form_end(edit_form) }}
        </div>
    </div>


    <div id="boutons">
        <div class="bouton1">
            <input class="btn btn-primary btn-circle" type="submit" value="{% trans %}Edit{% endtrans %}" />
        </div>
        {{ form_start(delete_form) }}
        <div class="bouton1">
            <input class="btn btn-primary btn-circle" type="submit" value="{% trans %}Delete{% endtrans %}">
        </div>
        {{ form_end(delete_form) }}
        <div class="bouton1">
            <a class="btn btn-primary btn-circle" href="{{ path('product_list', {type: 'wine'}) }}">{% trans %}Back to the list{% endtrans %}</a>
        </div>
    </div>


    <div class="espace-bas"></div>

{% endblock %}
