{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-heading">{% trans %}Wine Title{% endtrans %}</h3>
            </div>
        </div>
    </div>
    <br><br>
    <table>
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Vintage{% endtrans %}</th>
                <th>{% trans %}Color{% endtrans %}</th>
                <th>{% trans %}Price{% endtrans %}</th>
                <th>{% trans %}Stock{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for wine in products %}
                <tr>
                    <td class="id"><a href="{{ path('product_show', { 'id': wine.id }) }}">{{ wine.id }}</a></td>
                    <td class="name">{{ wine.name }}</td>
                    <td class="vintage">{% if wine.vintage %}{{ wine.vintage|date('Y') }}{% endif %}</td>
                    <td class="color">{{ wine.color }}</td>
                    <td class="price">{{ wine.price }} €</td>
                    <td class="price">{{ wine.stock }}</td>
                    <td class="actions">
                        <ul>
                            <li>
                                <a href="{{ path('product_show', { 'id': wine.id }) }}">{% trans %}Show{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('product_edit', { 'id': wine.id }) }}">{% trans %}Edit{% endtrans %}</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br><br>
    <ul>
        <li>
            <a href="{{ path('product_new', {type: 'wine'}) }}"><div class="btn btn-primary btn-circle">{% trans %}Create Wine{% endtrans %}</div></a>
        </li>
    </ul>

{% endblock %}
