{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/theme-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-heading">Product list</h3>
            </div>
        </div>
    </div>
    <br><br>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Vintage</th>
                <th>Color</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for wine in products %}
            <tr>
                <td class="id"><a href="{{ path('product_show', { 'id': wine.id }) }}">{{ wine.id }}</a></td>
                <td class="vintage">{% if wine.vintage %}{{ wine.vintage|date('Y-m-d') }}{% endif %}</td>
                <td class="color">{{ wine.color }}</td>
                <td class="actions">
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'id': wine.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'id': wine.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>
    <ul>
        <li>
            <div class="btn btn-primary btn-circle"><a href="{{ path('product_new', {type: 'wine'}) }}">Create a new wine</a></div>
        </li>
    </ul>

{% endblock %}
