{% extends  'ProductBundle:product:show.html.twig' %}
{% block features %}

    {% if product.vintage %}
        <b>{% trans %}Vintage{% endtrans %} : </b>{{ product.vintage|date('Y-m-d') }}
        <br>
    {% endif %}

    <b>{% trans %}Color{% endtrans %} :</b> {{ product.color }} <br />


    {% if product.grapeVariety is not empty %}
        <b>{% trans %}Cepage{% endtrans %} : </b>
        {% for variety in product.grapeVariety %}
            {{ variety.name }},
        {% endfor %}
        <br />
    {% endif %}

    {% if product.range %}
        <b>{% trans %}Category{% endtrans %} : </b>
        {% if product.range.img %}
            <img src="{{ product.range.img }}" alt="categorie" height="30">
        {% endif %} {{ product.range.name }}
    {% endif %} <br />

    {% if product.region %}
        <b>{% trans %}Region{% endtrans %} : </b>{{ product.region}} <br />
    {% endif %}

    {% if product.origincountry %}
        <b>{% trans %}Country{% endtrans %} : </b>{{ product.origincountry.name}}, {{ product.origincontinent.name}} <br />
    {% endif %}

    {% if product.recipes %}
        {% for recipe in product.recipes %}
            <b>{% trans %}Recipe{% endtrans %} : </b>{{ recipe.name }}
            <a href="{{ recipe.url }}"> <img src="{{ asset('img/product/recipe.png') }}" alt="recipe_link" height="50"></a>
            <br />
        {% endfor %}
    {% endif %}

    {% if product.conditioningTypes is not empty %}
        <b>{% trans %}Conditioning{% endtrans %} :</b>
        {% for conditioningType in product.conditioningTypes %}
            {{ conditioningType.name }},
        {% endfor %}
        <br>
    {% endif %}

    <b>{% trans %}Medal{% endtrans %} : </b>

    {% for competition in competitions %}
        {{ competition.universe.name }}, {{ competition.primeName }}
    {% endfor %}

{% endblock %}
