{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/theme-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/theme-product.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bundle.js') }}"></script>
    <script src="{{ asset('js/item.js') }}"></script>
{% endblock %}

{% block body %}

    <nav class="navbar navbar-fixed-top shadow" id="js-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#"> <img src="{{ asset('img/product/couronne-de-palmes-or.png') }}" alt="logo"> </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#home">home</a></li>
                    <li><a href="#products">products</a></li>
                    <li><a href="#about">about us</a></li>
                    <li><a href="#special">special</a></li>
                    <li><a href="#testimonials">testimonials</a></li>
                    <li><a href="#news">news</a></li>
                    <li><a href="#history">history</a></li>
                    <li><a href="#contact">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>



    <section class="SLIDESHOW">

        <div class="slideshow-container">
            {% for product_picture in product_pictures %}
                <div class="mySlides" style="text-align:center">
                    <img class="photo" src="/img/product/{{ product_picture.url }}" alt="{{ product_picture.alt }}" />
                </div>
            {% endfor %}

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <div style="text-align:center">
            {% for product_picture in product_pictures %}
            <span class="dot" onclick="currentSlide({{ product_picture.id }})"></span>
            {% endfor %}
        </div>

    </section>

    <!--  TEXTE  -->
    <section class="TEXTE">
        <div class="col-md-7 text-center">
            <div class="countdown-container">
                <div id="TITRE">
                    <h3 class="wow fadeInDown">{{ wine.name }}</h3>
                </div>
                <img alt="lauriers" src="{{ asset('img/product/couronne-de-palmes-or.png') }}" height="55">
                <h4 class="wow fadeInDown">Médaille</h4>

                <p class="wow fadeInDown">{{ wine.description }} </p>
                <p>Univers : {% for universe in wine.universes %}universe.name{% if not loop.last %}, {% endif %}{% endfor %} </br>
                    Volume : {{ wine.volume }} <br>
                    Stock : {{ wine.stock }} <br>
                    {% if wine.vintage %}{{ wine.vintage|date('Y-m-d') }}{% endif %} </br>
                    Color : {{ wine.color }}</p>

                <span class="countdown-price h3 wow fadeInUp">{{ wine.price }}</span>
                <span class="btn btn-default add-item wow swing" >
                    <img alt="e-commerce" src="{{ asset('img/product/panier.png') }}" height="55">

                    <span class="ti-shopping-cart"></span>Ajouter au panier
                </span>
            </div>


        </div>
    </section>




{% endblock %}



