{% trans_default_domain 'FOSUserBundle' %}

<div id="signupbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info" >
        <div class="panel-heading">
            <div class="panel-title">Inscription</div>
            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/login">Se connecter</a></div>
        </div>

        <div style="padding-top:30px" class="panel-body" >

            <div style="display:none" id="signupalert" class="alert alert-danger col-sm-12"></div>

            <form class="form-signin" name='register_form' id='register_form' method="post" >

                {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder':'Pseudo'}}) }}<br>

                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder':'Password'}}) }}<br>

                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder':'Confirm Password'}}) }}<br>

                {{ form_widget(form.date) }}<br>

                {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder':'Email'}}) }}<br>

                {{ form_rest(form) }}

                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </form>

        </div>
    </div>
</div>

