{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/inscription.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="text-center">
        {% trans_default_domain 'FOSUserBundle_trad' %}
        <h1>{% trans %}New Account{% endtrans %}</h1>
        <div class="neutral text-center">
            <a type="button" class="btn" href="{{ path("user_consumer_registration") }}">
                <img class="image" src="/img/upload/customers.jpg" alt="customers"/>
                <p class="texte">{% trans %}User{% endtrans %}</p>
            </a>
            <a type="button" class="btn" href="{{ path("user_producer_registration") }}">
                <img class="image" src="/img/upload/producers.jpeg" alt="producers"/>
                <p class="texte">{% trans %}Producer{% endtrans %}</p>
            </a>
            <a type="button" class="btn" href="{{ path("user_media_registration") }}">
                <img class="image" src="/img/upload/media.jpg" alt="media"/>
                <p class="texte">{% trans %}Media{% endtrans %}</p>
            </a>
        </div>
    </div>

{% endblock %}
