{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
    <link href="{{ asset('css/bootstrap-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/theme-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/inscription.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
        <script src="{{ asset('js/bundle.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Inscription</h1>
        <div class="neutral text-center">
            <a type="button" class="btn" href="{{ path("user_consumer_registration") }}">
                <img class="image" src="/img/upload/customers.jpg" alt="customers"/>
                <p class="texte">Client</p>
            </a>
            <a type="button" class="btn" href="{{ path("user_producer_registration") }}">
                <img class="image" src="/img/upload/producers.jpeg" alt="producers"/>
                <p class="texte">Producteur</p>
            </a>
            <a type="button" class="btn" href="{{ path("user_media_registration") }}">
                <img class="image" src="/img/upload/media.jpg" alt="media"/>
                <p class="texte">Presse</p>
            </a>
        </div>
    </div>
{% endblock %}
