{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/inscription.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div class="container">

    <div class="row text-center">
        <h1>{% trans %}New Account{% endtrans %}</h1>
        <div class="col-md-4 text-center user-type">
            <a href="{{ path("user_consumer_registration") }}">
                <img class="img-responsive" src="/img/upload/customers.jpg" alt="customers"/>
                <p class="caption">{% trans %}Client{% endtrans %}</p>
            </a>
        </div>

        <div class="col-md-4 text-center user-type">
            <a  href="{{ path("user_producer_registration") }}">
                <img class=" img-responsive" src="/img/upload/producers.jpeg" alt="producers"/>
                <p class="caption">{% trans %}Producteur{% endtrans %}</p>
            </a>
        </div>

        <div class="col-md-4 text-center user-type">
            <a href="{{ path("user_media_registration") }}">
                <img class=" img-responsive" src="/img/upload/media.jpg" alt="media"/>
                <p class="caption">{% trans %}Presse{% endtrans %}</p>
            </a>
        </div>

    </div>
</div>

{% endblock %}