{% extends "UserBundle:Registration:User.html.twig" %}

{% block fos_user_content %}
    <div id="content">
        <h1>{% trans %}Registration User{% endtrans %}</h1>
        {#<form action="{{ path('user_consumer_registration') }}" method="POST">#}
        {{ form_start(form, {'attr': {'id': 'form_register'}}) }}
            <div class="form-div">
                <div>
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                    <span class="form_error">{{ form_errors(form.username) }}</span>
                </div>
                <div>
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first) }}
                    <span class="form_error">{{ form_errors(form.plainPassword.first) }}</span>
                </div>
                <div>
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second) }}
                    <span class="form_error">{{ form_errors(form.plainPassword.second) }}</span>
                </div>
                <div>
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    <span class="form_error">{{ form_errors(form.email) }}</span>
                </div>
                <div>
                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname) }}
                    <span class="form_error">{{ form_errors(form.lastname) }}</span>
                </div>
                <div>
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                    <span class="form_error">{{ form_errors(form.firstname) }}</span>
                </div>
                <div>
                    {{ form_label(form.birthDate) }}
                    {{ form_widget(form.birthDate) }}
                    <span class="form_error">{{ form_errors(form.birthDate) }}</span>
                </div>
                <div>
                    {{ form_label(form.sex) }}
                    {{ form_widget(form.sex) }}
                    <span class="form_error">{{ form_errors(form.sex) }}</span>
                </div>
                <div>
                    {{ form_label(form.phone) }}
                    {{ form_widget(form.phone) }}
                    <span class="form_error">{{ form_errors(form.phone) }}</span>
                </div>
            </div>
            <button class="g-recaptcha btn btn-primary btn-circle" data-sitekey="{{ captcha_key }}" data-callback='onSubmit'>{% trans %}Registration{% endtrans %}</button>
        {{ form_end(form) }}
    </div>
{% endblock fos_user_content %}