{% extends "UserBundle:Registration:User.form.html.twig" %}

{% block fos_user_content %}
    <div id="content">
        <h1>{% trans %}Registration Media{% endtrans %}</h1>
        {#<form action="{{ path('user_media_registration') }}" method="POST">#}
        {{ form_start(form) }}
            <div class="form-div">
                <div>
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username) }}
                    <span class="form_error">{{ form_errors(form.username) }}</span>
                </div>
                <div>
                    {{ form_label(form.plainPassword.first) }}
                    {{ form_widget(form.plainPassword.first) }}
                    <span class="form_error">{{ form_errors(form.plainPassword.first) }}</span>
                </div>
                <div>
                    {{ form_label(form.plainPassword.second) }}
                    {{ form_widget(form.plainPassword.second) }}
                    <span class="form_error">{{ form_errors(form.plainPassword.second) }}</span>
                </div>
                <div>
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    <span class="form_error">{{ form_errors(form.email) }}</span>
                </div>
                <div>
                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname) }}
                    <span class="form_error">{{ form_errors(form.lastname) }}</span>
                </div>
                <div>
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                    <span class="form_error">{{ form_errors(form.firstname) }}</span>
                </div>
                <div>
                    {{ form_label(form.urlBlog) }}
                    {{ form_widget(form.urlBlog) }}
                    <span class="form_error">{{ form_errors(form.urlBlog) }}</span>
                </div>
                <div>
                    {{ form_label(form.idPresse) }}
                    {{ form_widget(form.idPresse) }}
                    <span class="form_error">{{ form_errors(form.idPresse) }}</span>
                </div>
                <div>
                    {{ form_label(form.companyName) }}
                    {{ form_widget(form.companyName) }}
                    <span class="form_error">{{ form_errors(form.companyName) }}</span>
                </div>
            </div>
            <input class="btn btn-primary btn-circle" type="submit" value="{% trans %}Registration{% endtrans %}" />
        {#</form>#}
        {{ form_end(form) }}
    </div>
{% endblock fos_user_content %}