{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
<link href="{{ asset('css/edit.css') }}" rel="stylesheet" />
<link href="{{ asset('css/formulaire.css') }}" rel="stylesheet" />
<link href="{{ asset('css/contour_blanc.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="Contour_blanc-prodcond">
        <div id="content">
            <h3 class="section-heading">{% trans %}Productconditioning edit{% endtrans %}</h3>
            <br><br>
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <div id="boutons">
                <div class="bouton1">
                    <input class="btn btn-primary btn-circle" type="submit" value="{% trans %}Edit{% endtrans %}" />
                </div>
                {{ form_end(edit_form) }}
                {{ form_start(delete_form) }}
                <div class="bouton1">
                    <input class="btn btn-primary btn-circle" type="submit" value="{% trans %}Delete{% endtrans %}">
                </div>
                {{ form_end(delete_form) }}
                <div class="bouton1">
                    <a class="btn btn-primary btn-circle" href="{{ path('conditioning_index') }}">{% trans %}Back to the list{% endtrans %}</a>
                </div>
            </div>
            <div class="espace-du-bas"></div>
        </div>
    </div>
{% endblock %}
