{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/product.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-heading">{% trans %}Welcome{% endtrans %}</h3>
            </div>
        </div>
    </div>
    <div class="tableau_media">
        <table class="table table-responsive table-hover" id="media">
            <thead class="thead-default">
                <tr>
                    <th>{% trans %}Date{% endtrans %}</th>
                    <th>{% trans %}Title{% endtrans %}</th>
                    <th>{% trans %}Description{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
            {% for media in medias %}
                <tr>
                    <td class="date">{{ media.date|date('Y-m-d') }}</td>
                    <td class="titre">{{ media.name }}</td>
                    <td class="contenu">
                        <a href="{{ asset(media.url) }}/">
                            {% trans %}Download{% endtrans %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
