{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/theme-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyA_6m6Glf1-P7jvVdHZ00e3Ue_EoUNe39g') }}"></script>
    <script src="{{ asset('js/bundle.js') }}"></script>
    <script src="{{ asset('js/product.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-heading">Bienvenue dans l'espace presse </h3>
            </div>
        </div>
    </div>
    <div class="tableau_media">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Titre</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {% for media in medias %}
                <tr>
                    <td class="date">{{ media.date|date('Y-m-d') }}</td>
                    <td class="titre">{{ media.name }}</td>
                    <td class="contenu">
                        <a href="{{ asset(media.url) }}/">
                            Télécharger
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
