{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/theme-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/index.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1>Purchases list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Address</th>
                <th>City</th>
                <th>Postalcode</th>
                <th>Country</th>
                <th>Done</th>
                <th>Dateorder</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for purchase in purchases %}
            <tr>
                <td><a href="{{ path('purchase_show', { 'id': purchase.id }) }}">{{ purchase.id }}</a></td>
                <td>{{ purchase.address }}</td>
                <td>{{ purchase.city }}</td>
                <td>{{ purchase.postalCode }}</td>
                <td>{{ purchase.country }}</td>
                <td>{% if purchase.done %}Yes{% else %}No{% endif %}</td>
                <td>{% if purchase.dateOrder %}{{ purchase.dateOrder|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('purchase_show', { 'id': purchase.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('purchase_edit', { 'id': purchase.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('purchase_new') }}">Create a new purchase</a>
        </li>
    </ul>
{% endblock %}
