{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyA_6m6Glf1-P7jvVdHZ00e3Ue_EoUNe39g') }}"></script>
    <script src="{{ asset('js/bundle.js') }}"></script>
    <script src="{{ asset('js/product.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-heading">Gestion des commandes</h3>
            </div>
        </div>
    </div>
    <br> <br>
    <div class="tableau_media">
        <table>
            <thead>
                <tr>
                    <th>ID commande</th>
                    <th>ID user</th>
                    <th>Adresse</th>
                    <th>Ville</th>
                    <th>Code postal</th>
                    <th>Pays</th>
                    <th>Date de commande</th>
                    <th>Statut</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in purchases %}
                <tr>
                    <td class="id_commande"> {{ purchase.id }}</td>
                    <td class="id_user">{{ purchase.user }}</td>
                    <td class="adresse">{{ purchase.address }}</td>
                    <td class="ville">{{ purchase.city }}</td>
                    <td class="code_postal">{{ purchase.postalCode }}</td>
                    <td class="pays">{{ purchase.country }}</td>
                    <td class="date_commande">{% if purchase.dateOrder %}{{ purchase.dateOrder | date('Y-m-d H:i:s') }} {% endif %}</td>
                    <td class="statut">{% if purchase.done %}En cours{% else %}Effectué{% endif %}</>
                    <td class="action">
                        <ul>
                            <li><a href="{{ path('purchase_show', { 'id': purchase.id }) }}">show</a></li>
                            <li><a href="{{ path('purchase_edit', { 'id': purchase.id }) }}">edit</a></li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br><br>
        <ul>
            <li>
                <div class="btn btn-primary btn-circle"><a href="{{ path('purchase_new', {type: 'purchase'}) }}">Create a new purchase</a></div>
            </li>
        </ul>
    </div>
{% endblock %}










