{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/table-template.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/product.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-heading">{% trans %}Gestion des Commandes{% endtrans %}</h3>
            </div>
        </div>
    </div>
    <div class="table-responsive table-template tableau_media">
        <h3 class="type_commande">{% trans %}A préparer{% endtrans %}</h3>
        <table class="table table-hover">
            <thead class="thead-default">
                <tr class="color-title">
                    <th>{% trans %}ID commande{% endtrans %}</th>
                    <th>{% trans %}ID user{% endtrans %}</th>
                    <th>{% trans %}Adresse{% endtrans %}</th>
                    <th>{% trans %}Ville{% endtrans %}</th>
                    <th>{% trans %}Code postal{% endtrans %}</th>
                    <th>{% trans %}Pays{% endtrans %}</th>
                    <th>{% trans %}Date de commande{% endtrans %}</th>
                    <th>{% trans %}Statut{% endtrans %}</th>
                    <th>{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in purchases %}
                {% if purchase.done %}
                <tr>
                    <td class="id_commande"> {{ purchase.id }}</td>
                    <td class="id_user">{{ purchase.user }}</td>
                    <td class="adresse">{{ purchase.address }}</td>
                    <td class="ville">{{ purchase.city }}</td>
                    <td class="code_postal">{{ purchase.postalCode }}</td>
                    <td class="pays">{{ purchase.country }}</td>
                    <td class="date_commande">{% if purchase.dateOrder %}{{ purchase.dateOrder | date('Y-m-d H:i:s') }} {% endif %}</td>
                    <td class="statut">{% trans %}Doing{% endtrans %}</td>
                    <td class="action">
                        <ul>
                            <li><a href="{{ path('purchase_show', { 'id': purchase.id }) }}">{% trans %}Détails Commande{% endtrans %}</a></li>
                            <li><a href="{{ path('purchase_edit', { 'id': purchase.id }) }}">{% trans %}Modifier{% endtrans %}</a></li>
                        </ul>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <br><br>
        <h3 class="type_commande">{% trans %}Expédiées{% endtrans %}</h3>
        <table class="table table-hover">
            <thead class="thead-default">
            <tr class="color-title">
                <th>{% trans %}ID commande{% endtrans %}</th>
                <th>{% trans %}ID user{% endtrans %}</th>
                <th>{% trans %}Adresse{% endtrans %}</th>
                <th>{% trans %}Ville{% endtrans %}</th>
                <th>{% trans %}Code postal{% endtrans %}</th>
                <th>{% trans %}Pays{% endtrans %}</th>
                <th>{% trans %}Date de commande{% endtrans %}</th>
                <th>{% trans %}Statut{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for purchase in purchases %}
            {% if purchase.done %}
            {% else %}
                <tr>
                    <td class="id_commande"> {{ purchase.id }}</td>
                    <td class="id_user">{{ purchase.user }}</td>
                    <td class="adresse">{{ purchase.address }}</td>
                    <td class="ville">{{ purchase.city }}</td>
                    <td class="code_postal">{{ purchase.postalCode }}</td>
                    <td class="pays">{{ purchase.country }}</td>
                    <td class="date_commande">{% if purchase.dateOrder %}{{ purchase.dateOrder | date('Y-m-d H:i:s') }} {% endif %}</td>
                    <td class="statut">{% trans %}Done{% endtrans %}</td>
                    <td class="action">
                        <ul>
                            <li><a href="{{ path('purchase_show', { 'id': purchase.id }) }}">{% trans %}Détails Commande{% endtrans %}</a></li>
                            <li><a href="{{ path('purchase_edit', { 'id': purchase.id }) }}">{% trans %}Modifier{% endtrans %}</a></li>
                        </ul>
                    </td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
        <br><br>
    </div>
{% endblock %}












