{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('css/edit.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/table-template.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="content">
        <div class="center">
            <h3 class="section-heading">{% trans %}Récapitulatif de la commande{% endtrans %}</h3>
            <table>
                <tbody>
                <tr>
                    <th width="100px">Id</th>
                    <td id="champ">{{ purchase.id }}</td>
                </tr>
                <tr>
                    <th width="100px">{% trans %}Done{% endtrans %}</th>
                    <td id="champ">{% if purchase.done %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th width="100px">{% trans %}By{% endtrans %}</th>
                    <td id="champ"><a href="{{ path('userconsumer_show', {id:base_user.id}) }}"><i>{{ base_user.username }}</i></a></td>
                </tr>
                <tr>
                    <th width="100px">{% trans %}Date de commande{% endtrans %}</th>
                    <td id="champ">{% if purchase.dateOrder %}{{ purchase.dateOrder|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                </tbody>
            </table>
            <br>
            <span class="float">
                <p class="adresse">{% trans %}Adresse de livraison{% endtrans %} :</p>
                <table>
                    <tbody>
                    <tr>
                        <th width="100px">{% trans %}Nom{% endtrans %}</th>
                        <td id="champ">{{ purchase.lastname }}</td>
                    </tr>
                    <tr>
                        <th width="100px">{% trans %}Prenom{% endtrans %}</th>
                        <td id="champ">{{ purchase.firstname }}</td>
                    </tr>
                    <tr>
                        <th width="100px">{% trans %}Address{% endtrans %}</th>
                        <td id="champ">{{ purchase.address }}</td>
                    </tr>
                    <tr>
                        <th width="100px">{% trans %}City{% endtrans %}</th>
                        <td id="champ">{{ purchase.city }}</td>
                    </tr>
                    <tr>
                        <th width="100px">{% trans %}Postalcode{% endtrans %}</th>
                        <td id="champ"> : {{ purchase.postalCode }}</td>
                    </tr>
                    <tr>
                        <th width="100px">{% trans %}Country{% endtrans %}</th>
                        <td id="champ">{{ purchase.country }}</td>
                    </tr>
                    </tbody>
                </table>
            </span>

            <span class="float">
                <p class="adresse">{% trans %}Adresse de facturation{% endtrans %} :</p>
                <table>
                    <tbody>
                    <tr>
                        <th width="100px">{% trans %}Nom{% endtrans %}</th>
                        <td id="champ">{{ base_user.lastname }}</td>
                    </tr>
                    <tr>
                        <th width="100px">{% trans %}Prenom{% endtrans %}</th>
                        <td id="champ">{{ base_user.firstname }}</td>
                    </tr>
                    <tr>
                        <th width="100px">{% trans %}Address{% endtrans %}</th>
                        <td id="champ">{{ purchase.address }}</td>
                    </tr>
                    <tr>
                        <th width="100px">{% trans %}City{% endtrans %}</th>
                        <td id="champ">{{ purchase.city }}</td>
                    </tr>
                    <tr>
                        <th width="100px">{% trans %}Postalcode{% endtrans %}</th>
                        <td id="champ"> :    {{  purchase.postalCode }}</td>
                    </tr>
                    <tr>
                        <th width="100px">{% trans %}Country{% endtrans %}</th>
                        <td id="champ">{{ purchase.country }}</td>
                    </tr>
                    </tbody>
                </table>
            </span>
        </div>

        <div class="text-center" id="content">
            <div class="table-responsive table-template table-recap-commande">
                <table class="table table-hover">
                    <thead class="thead-default">
                    <tr class="color-title">
                        <th class="col-xs-3">{% trans %}Name{% endtrans %}</th>
                        <th class="col-xs-3">{% trans %}Conditioning{% endtrans %}</th>
                        <th class="col-xs-3">{% trans %}Quantité{% endtrans %}</th>
                        <th class="col-xs-3">{% trans %}Price{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for productPurchase in purchase.products %}
                        {% set conditioning, product = productPurchase.conditioningType, productPurchase.conditioningType.product %}
                        <tr>
                            <td><a href="{{ path('product_show', {id:product.id}) }}">{{ product.name }}</a></td>
                            <td>{{ conditioning.name }}</td>
                            <td>{{ conditioning.stock}}</td>
                            <td>{{ conditioning.getPrice(base_user)|number_format(2, '.', ',') }}€</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>

        <div class="table-responsive">
            <table class=" table button">
                <td>
                    <a class="btn btn-primary btn-circle" href="{{ path('purchase_index') }}">{% trans %}Back to the list{% endtrans %}</a>
                </td>
                <td>
                    <a class="btn btn-primary btn-circle" href="{{ path('purchase_edit', { 'id': purchase.id }) }}">{% trans %}Edit{% endtrans %}</a>
                </td>
                {{ form_start(delete_form) }}
                <td>
                    <input class="btn btn-primary btn-circle" type="submit" value="{% trans %}Delete{% endtrans %}">
                </td>
                {{ form_end(delete_form) }}
            </table>
        </div>
    </div>


{% endblock %}
