{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/theme-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/edit.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="content">
        <h1>Purchase</h1>
        <br>
        <p>Adresse de livraison :</p>
        <table>
            <tbody>
                <tr>
                    <th width="100px">Id</th>
                    <td id="champ">{{ purchase.id }}</td>
                </tr>
                <tr>
                    <th width="100px">Address</th>
                    <td id="champ">{{ purchase.address }}</td>
                </tr>
                <tr>
                    <th width="100px">City</th>
                    <td id="champ">{{ purchase.city }}</td>
                </tr>
                <tr>
                    <th width="100px">Postalcode</th>
                    <td id="champ">{{ purchase.postalCode }}</td>
                </tr>
                <tr>
                    <th width="100px">Country</th>
                    <td id="champ">{{ purchase.country }}</td>
                </tr>
                <tr>
                    <th width="100px">Done</th>
                    <td id="champ">{% if purchase.done %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <th width="100px">Dateorder</th>
                    <td id="champ">{% if purchase.dateOrder %}{{ purchase.dateOrder|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <p>Adresse de facturation :</p>
        <h1>Achat</h1>
        <br>

        <div class="text-center">
                    <span class="swiper-slide text-center table-product-text">
                        <table>
                            <thead>
                                <td>Nom</td>
                                <td>Prix</td>
                            </thead>
                            <tbody>

        {% for product in products %}

            <tr>
                            <td>
                                <th width="100px">Produit</th>
                                <td id="champ"><a href="{{ path('product_show', {id:product.id}) }}">{{ product.name }}</a></td>
                </td>
                <td>
                                <th width="100px">Price</th>
                                <td id="champ">{{ product.price }}</td>
                </td>
                            </tr>

        {% endfor %}

                                     </tbody>
                        </table>
                    </span>

        </div>

        <h1>Acheteur</h1>
        <br>
        <table>
            <tbody>
            <tr>
                <th width="100px">Pseudo</th>
                <td id="champ"><a href="{{ path('userconsumer_show', {id:base_user.id}) }}">{{ base_user.username }}</a></td>
            </tr>
            <tr>
                <th width="100px">Prenom</th>
                <td id="champ">{{ base_user.firstname }}</td>
            </tr>
            <tr>
                <th width="100px">Nom</th>
                <td id="champ">{{ base_user.lastname }}</td>
            </tr>
            </tbody>
        </table>

        <br>
        <table>
            <td>
                <a class="btn btn-primary btn-circle" href="{{ path('purchase_index') }}">Back to the list</a>
            </td>
            <td>
                <a class="btn btn-primary btn-circle" href="{{ path('purchase_edit', { 'id': purchase.id }) }}">Edit</a>
            </td>
                {{ form_start(delete_form) }}
            <td>
                <input class="btn btn-primary btn-circle" type="submit" value="Delete">
            </td>
                {{ form_end(delete_form) }}
        </table>
    </div>
{% endblock %}
