{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/delivery.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="espace-haut"></div>
        {{ form_start(form) }}
        <ul>
            <table>
                <thead>
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <th>{% trans %}Delivery{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
            {% for product in form.products %}
                <tr>
                    <li class="first">{{ form_errors(product) }}</li>
                    <td>{{ form_label(product, purchase[loop.index0].conditioningType.nameOfProduct) }}</td>
                    <td>{{ form_widget(product) }}</td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
        </ul>
        {{ form_end(form) }}
    <div class="espace-bas"></div>
{% endblock %}