{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/create.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/formulaire.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/mise_en_page_admin.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}

<div class="contour">
    <div id="content">
        <h1 class="espace_br">{% trans %}New delivery{% endtrans %}</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
    </div>
</div>

    <div id="boutons">
        <div class="bouton1">
            <input class="btn btn-primary btn-circle" type="submit" value="{% trans %}Create{% endtrans %}" />
        </div>
        {{ form_end(form) }}
        <div class="bouton1">
            <a class="btn btn-primary btn-circle" href="{{ path('delivery_index') }}">{% trans %}Back to the list{% endtrans %}</a>
        </div>
    </div>

{% endblock %}
