{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/show.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="content">

    <h2 class="titre">{% trans %}Deliveries{% endtrans %}</h2>

<div class="table-responsive product-conditioning">
    <table class="table table-hover">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ delivery.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}Name{% endtrans %}</th>
            <td>{{ delivery.name }}</td>
        </tr>
        <tr>
            <th>{% trans %}Price{% endtrans %}</th>
            <td>{{ delivery.price }}</td>
        </tr>

        </tbody>
    </table>
</div>

        <div id="boutons">
            <div class="bouton1">
                <a class="btn btn-primary btn-circle" href="{{ path('delivery_edit', { 'id': delivery.id }) }}">{% trans %}Edit{% endtrans %}</a>
            </div>
            {% if not has_purchases %}
                <div class="bouton1">
                    {{ form_start(delete_form) }}
                    <input class="btn btn-primary btn-circle" type="submit" value="{% trans %}Delete{% endtrans %}">
                    {{ form_end(delete_form) }}
                </div>
            {% endif %}
            <div class="bouton1">
                <a class="btn btn-primary btn-circle" href="{{ path('delivery_index') }}">{% trans %}Back to the list{% endtrans %}</a>
            </div>
        </div>
    </div>
{% endblock %}
