{% extends 'base.html.twig' %}

{% block body %}
    <h1>{% trans %}Userproducers list{% endtrans %}</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Siret</th>
            <th>{% trans %}Billingemail{% endtrans %}</th>
            <th>{% trans %}Website{% endtrans %}</th>
            <th>Facebook</th>
            <th>Twitter</th>
            <th>{% trans %}Companyname{% endtrans %}</th>
            <th>{% trans %}Businessname{% endtrans %}</th>
            <th>{% trans %}Address{% endtrans %}</th>
            <th>{% trans %}City{% endtrans %}</th>
            <th>{% trans %}Country{% endtrans %}</th>
            <th>{% trans %}Postal code{% endtrans %}</th>
            <th>{% trans %}State{% endtrans %}</th>
            <th>Province</th>
            <th>{% trans %}Phone{% endtrans %}</th>
            <th>Fax</th>
            <th>{% trans %}Tvaic{% endtrans %}</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for userProducer in userProducers %}
            <tr>
                <td><a href="{{ path('userproducer_show', { 'id': userProducer.id }) }}">{{ userProducer.id }}</a></td>
                <td>{{ userProducer.siret }}</td>
                <td>{{ userProducer.billingEmail }}</td>
                <td>{{ userProducer.website }}</td>
                <td>{{ userProducer.facebook }}</td>
                <td>{{ userProducer.twitter }}</td>
                <td>{{ userProducer.companyName }}</td>
                <td>{{ userProducer.businessName }}</td>
                <td>{{ userProducer.address }}</td>
                <td>{{ userProducer.city }}</td>
                <td>{{ userProducer.country }}</td>
                <td>{{ userProducer.postalCode }}</td>
                <td>{{ userProducer.state }}</td>
                <td>{{ userProducer.province }}</td>
                <td>{{ userProducer.phone }}</td>
                <td>{{ userProducer.fax }}</td>
                <td>{{ userProducer.tvaIC }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('userproducer_show', { 'id': userProducer.id }) }}">{% trans %}Show{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('userproducer_edit', { 'id': userProducer.id }) }}">{% trans %}Edit{% endtrans %}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('userproducer_new') }}">{% trans %}Create a new userProducer{% endtrans %}</a>
        </li>
    </ul>
{% endblock %}
