{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/edit.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/formulaire.css') }}" rel="stylesheet">
    <link href="{{ asset('css/table-template.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/mise_en_page_admin.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="content">
        <h1 class="section-heading">{% trans %}Userproducer{% endtrans %}</h1>
    </div>
        <div class="table-responsive table-template">
            <table class="table table-hover">
                <thead class="thead-default">
                <tr class="color-title">
                    <th>Id</th>
                    <th>Siret</th>
                    <th>{% trans %}Billingemail{% endtrans %}</th>
                    <th>{% trans %}Website{% endtrans %}</th>
                    <th>Facebook</th>
                    <th>Twitter</th>
                    <th>{% trans %}Companyname{% endtrans %}</th>
                    <th>{% trans %}Businessname{% endtrans %}</th>
                    <th>{% trans %}Address{% endtrans %}</th>
                    <th>{% trans %}City{% endtrans %}</th>
                    <th>{% trans %}Country{% endtrans %}</th>
                    <th>{% trans %}Postal code{% endtrans %}</th>
                    <th>{% trans %}State{% endtrans %}</th>
                    <th>Province</th>
                    <th>{% trans %}Phone{% endtrans %}</th>
                    <th>Fax</th>
                    <th>{% trans %}Tvaic{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ userProducer.id }}</td>
                    <td>{{ userProducer.siret }}</td>
                    <td>{{ userProducer.billingEmail }}</td>
                    <td>{{ userProducer.website }}</td>
                    <td>{{ userProducer.facebook }}</td>
                    <td>{{ userProducer.twitter }}</td>
                    <td>{{ userProducer.companyName }}</td>
                    <td>{{ userProducer.businessName }}</td>
                    <td>{{ userProducer.address }}</td>
                    <td>{{ userProducer.city }}</td>
                    <td>{{ userProducer.country }}</td>
                    <td>{{ userProducer.postalCode }}</td>
                    <td>{{ userProducer.state }}</td>
                    <td>{{ userProducer.province }}</td>
                    <td>{{ userProducer.phone }}</td>
                    <td>{{ userProducer.fax }}</td>
                    <td>{{ userProducer.tvaIC }}</td>
                </tr>
                </tbody>
            </table>
        </div>




<<<<<<< Updated upstream
    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ userProducer.id }}</td>
        </tr>
        <tr>
            <th>Siret</th>
            <td>{{ userProducer.siret }}</td>
        </tr>
        <tr>
            <th>{% trans %}Billingemail{% endtrans %}</th>
            <td>{{ userProducer.billingEmail }}</td>
        </tr>
        <tr>
            <th>{% trans %}Website{% endtrans %}</th>
            <td>{{ userProducer.website }}</td>
        </tr>
        <tr>
            <th>Facebook</th>
            <td>{{ userProducer.facebook }}</td>
        </tr>
        <tr>
            <th>Twitter</th>
            <td>{{ userProducer.twitter }}</td>
        </tr>
        <tr>
            <th>{% trans %}Companyname{% endtrans %}</th>
            <td>{{ userProducer.companyName }}</td>
        </tr>
        <tr>
            <th>{% trans %}Businessname{% endtrans %}</th>
            <td>{{ userProducer.businessName }}</td>
        </tr>
        <tr>
            <th>{% trans %}Address{% endtrans %}</th>
            <td>{{ userProducer.address }}</td>
        </tr>
        <tr>
            <th>{% trans %}City{% endtrans %}</th>
            <td>{{ userProducer.city }}</td>
        </tr>
        <tr>
            <th>{% trans %}Country{% endtrans %}</th>
            <td>{{ userProducer.country }}</td>
        </tr>
        <tr>
            <th>{% trans %}Postal code{% endtrans %}</th>
            <td>{{ userProducer.postalCode }}</td>
        </tr>
        <tr>
            <th>{% trans %}State{% endtrans %}</th>
            <td>{{ userProducer.state }}</td>
        </tr>
        <tr>
            <th>{% trans %}Phone{% endtrans %}</th>
            <td>{{ userProducer.phone }}</td>
        </tr>
        <tr>
            <th>Fax</th>
            <td>{{ userProducer.fax }}</td>
        </tr>
        <tr>
            <th>{% trans %}Tvaic{% endtrans %}</th>
            <td>{{ userProducer.tvaIC }}</td>
        </tr>
        </tbody>
    </table>
=======
    <div id="boutons">
        <div class="bouton1">
            <a class="btn btn-circle btn-primary" href="{{ path('userproducer_index') }}">{% trans %}Back to the list{% endtrans %}</a>
        </div>
        <div class="bouton1">
            <a class="btn btn-primary btn-circle" href="{{ path('userproducer_edit', { 'id': userProducer.id }) }}">{% trans %}Edit{% endtrans %}</a>
        </div>
        {{ form_start(delete_form) }}
        <div class="bouton1">
            <input class="btn btn-circle btn-primary" type="submit" value="{% trans %}Delete{% endtrans %}">
        </div>
        {{ form_end(delete_form) }}
    </div>
>>>>>>> Stashed changes

{% endblock %}
