{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/commande.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/panier.js') }}"></script>
{% endblock %}

{% block body %}

    <h1 class="title">Récapitulatif des commandes</h1>
    <table class="table table-responsive" id="Commandes">
        <thead class="thead-default">
        <tr>

            <th>{% trans %}Nom du vin{% endtrans %}</th>
            <th>{% trans %}Image{% endtrans %}</th>
            <th>{% trans %}Description{% endtrans %}</th>
            <th>{% trans %}Prix HT{% endtrans %}</th>
            <th>{% trans %}Quantité{% endtrans %}</th>
            <th>{% trans %}TVA{% endtrans %}</th>
            <th>{% trans %}Prix TTC{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for productPurchase in commande.products %}
            <tr>
                <td>{{ productPurchase.product.name }} - {{ productPurchase.conditioningType.name }}</td>
                {% for product_picture in productPurchase.product.pictures %}
                    <td><img class="post-entry-cover" src="/upload/{{ product_picture.url }}" alt="{{ product_picture.alt }}" /> </td>
                {% endfor %}
                <td><span class="height_description">{{ productPurchase.product.description }}</span></td>
                <td>{{ (productPurchase.conditioningType.price )|round(2) }}€</td>
                <td>{{ productPurchase.stock}}</td>
                <td>{{ tva }}%</td>
                <td>{{ (( productPurchase.conditioningType.price *(1+tva/100)) * productPurchase.stock)|round(2) }}€</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="5"></td>
            <td>{% trans %}Prix total TTC{% endtrans %}</td>
            <td>{{ (commande.amount*(1+tva/100))|round(2) }}€</td>
        </tr>
        <tr>
            <td colspan="5"></td>
            <td>{% trans %}Moyens de Paiement{% endtrans %}</td>
            <td><a href="{{ path('pay_cart', {'id' : commande.id}) }}"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" alt="Payer avec Paypal"></a>
            </td>
        </tr>

        </tbody>
    </table>
{% endblock %}
{#
https://api-3t.sandbox.paypal.com/nvp?version=204&user=grisot.remi-facilitator_api1.gmail.com&pwd=QZLEL69NWCF6QUGE&signature=AFcWxV21C7fd0v3bYYYRCpSSRl31Ab6nocvqRHaMJv1ybVoYzIrz8WGl&method=setexpresscheckout&cancelurl=https://google.fr&currencycode=EUR&returnurl=https://google.fr&amt=10.0&desc=bonne%20vinasse&localecode=fr
https://www.sandbox.paypal.com/webscr&cmd=_express-checkout&token=EC%2d98A96882VN0088128
https://api-3t.sandbox.paypal.com/nvp?version=204&user=grisot.remi-facilitator_api1.gmail.com&pwd=QZLEL69NWCF6QUGE&signature=AFcWxV21C7fd0v3bYYYRCpSSRl31Ab6nocvqRHaMJv1ybVoYzIrz8WGl&method=getexpresscheckoutdetails&token=EC%2d98A96882VN0088128
https://api-3t.sandbox.paypal.com/nvp?version=204&user=grisot.remi-facilitator_api1.gmail.com&pwd=QZLEL69NWCF6QUGE&signature=AFcWxV21C7fd0v3bYYYRCpSSRl31Ab6nocvqRHaMJv1ybVoYzIrz8WGl&method=doexpresscheckoutpayment&token=EC%2d98A96882VN0088128&paymentaction=sale&payerid=44EZAY75P6CS4&amt=10.0&currencycode=EUR#}
