{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/theme-dark.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyA_6m6Glf1-P7jvVdHZ00e3Ue_EoUNe39g') }}"></script>
    <script src="{{ asset('js/bundle.js') }}"></script>
    <script src="{{ asset('js/panier.js') }}"></script>
{% endblock %}

{% block body %}



    <section class="timeline" id="history">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-heading">Récapitulatif des achats</h3>
                    <div id="timeline" class="timeline-container">


                        {% for i in 0..(products|length - 1) %}
                            <!-- CART ITEM -->
                            <div class="timeline-block timeline-block-image-1">
                                <div class="timeline-point">
                                </div>

                                <div class="timeline-content wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                    <span class="timeline-date">
                                        <span class="timeline-month">{{ products[i].name }}</span>
                                        <br />{{ products[i].price }}€ x {{ quantity_list[i] }}
                                    </span>

                                    <div class="slideshow-container">
                                        {% for product_picture in products_pictures[i] %}
                                            <div class="mySlides" style="text-align:center">
                                                <img class="photo" src="/img/upload/{{ product_picture.url }}" alt="{{ product_picture.alt }}" />
                                            </div>
                                        {% endfor %}
                                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                                    </div>
                                    <p>{{ products[i].description }}</p>
                                </div>
                            </div>
                            <!-- / CART ITEM -->
                        {% endfor %}

                        {% if (quantityListError|length) > 0 %}
                        {% for i in 0..(quantityListError|length - 1) %}
                            <!-- CART ITEM RIGHT QUANTITY-->
                            <div class="timeline-block timeline-block-image-1">
                                <div class="timeline-point">
                                </div>

                                <div class="timeline-content wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                    <span class="timeline-date">
                                        <span class="timeline-month">{{ productError[i].name }}</span>
                                        <br />{{ productError[i].price }}€ x {{ productError[i].stock }}
                                        <div class="error_quantity">La quantité précédente ({{  quantityListError[i]}})
                                            <br />dépassait le stock disponible</div>
                                    </span>

                                    <div class="slideshow-container">
                                        {% for product_pictures_error in products_pictures_error[i] %}
                                            <div class="mySlides" style="text-align:center">
                                                <img class="photo" src="/img/upload/{{ product_pictures_error.url }}" alt="{{ product_pictures_error.alt }}" />
                                            </div>
                                        {% endfor %}
                                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                                    </div>
                                    <p>{{ productError[i].description }}</p>
                                </div>
                            </div>
                            <!-- / CART ITEM -->
                        {% endfor %}
                        {% endif %}
                    </div>
                    <!-- / TIMELINE ITEM -->
                </div>
            </div>
        </div>
    </section>


    <section id="contact" class="contact contact-with-map">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 class="section-heading">Récap</h3>
                </div>
                <table id="table_recap" align="center">
                    <tr>
                        <th class="about-counter-single">Prix HT</th>
                        <td>{{ amount }}</td>
                    </tr>
                    <tr>
                        <th class="about-counter-single">TVA</th>
                        <td>19.6%</td>
                    </tr>
                    <tr>
                        <th class="about-counter-single">Prix total</th>
                        <td>{{(amount + 0.196 * amount)|round(2) }}</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
    </section>

    <!----------------------------------------->
    <!------- PROPOSITION AUTRES PRODUITS ----->
    <!----------------------------------------->
    <section class="section-min section product" id="products">
        <div class="container overflow-hidden">
            <div class="row">
                <div class="col-md-12">
                    <h3>Ceci pourrait aussi vous intéresser :</h3>
                </div>
            </div>
            <div class="row">
                <div class="product-list-slider">
                    <ul class="swiper-wrapper product-list product-list-vertical">
                        {% for i in 1..10 %}
                            <li class="swiper-slide wow fadeInUp text-center">
                                <span class="product-list-left pull-left">
                                    <!--Rajouter le lien vers la produit : <a href="http://www.google.fr"> -->
                                    <img alt="product image" class="product-list-primary-img" src="{{ asset('img/product/contract_default.png') }}">
                                    <span class="product-list-name h3">Nom produit</span>
                                    <span class="product-list-price">400.00 €</span>
                                    <!--</a>-->
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                    <!-----------------------------------   DEFILEMENT  -------------------------------->
                    <!-- Add Pagination -->
                    <div class="product-list-pagination text-center"> </div>
                    <div class="product-list-slider-next right-arrow-negative"> &#10095; </div>
                    <div class="product-list-slider-prev left-arrow-negative"> &#10094;</div>
                    <br><br>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
