{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/panier.js') }}"></script>
{% endblock %}

{% block body %}

    <section class="timeline" id="history">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-heading">Récapitulatif des achats</h3>
                    <div id="timeline" class="timeline-container">

                        {% for product in commande.products %}
                            <!-- CART ITEM -->
                            <div class="timeline-block timeline-block-image-1">
                                <div class="timeline-point">
                                </div>

                                <div class="timeline-content wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
                                    <span class="timeline-date">
                                        <span class="timeline-month">{{ product.product.displayName }}</span>
                                        <br />{{ product.product.price }}€ x {{ product.stock }}
                                    </span>

                                    <div class="slideshow-container">
                                        {% for product_picture in product.product.pictures %}
                                            <div class="mySlides" style="text-align:center">
                                                <img class="photo" src="/img/upload/{{ product_picture.url }}" alt="{{ product_picture.alt }}" />
                                            </div>
                                        {% endfor %}
                                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                                    </div>
                                    <p>{{ product.product.description }}</p>
                                </div>
                            </div>
                            <!-- / CART ITEM -->
                        {% endfor %}
                    </div>
                    <!-- / TIMELINE ITEM -->
                </div>
            </div>
        </div>
    </section>


    <section id="contact" class="contact contact-with-map">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 class="section-heading">Récap</h3>
                </div>
                <table id="table_recap" align="center">
                    <tr>
                        <th class="about-counter-single">Prix HT</th>
                        <td>{{ commande.amount }}</td>
                    </tr>
                    <tr>
                        <th class="about-counter-single">TVA</th>
                        <td>{{ tva }}%</td>
                    </tr>
                    <tr>
                        <th class="about-counter-single">Prix total</th>
                        <td>{{ (commande.amount*(1+tva/100))|round(2) }}</td>
                    </tr>
                </table>
            </div>
            <br>
            <div style="text-align: center">
                <div class="col-md-12">
                    <h3 class="section-heading">Moyens de paiement:</h3>
                </div>
                <a href="{{ path('pay_cart', {'id' : commande.id}) }}"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" alt="Payer avec Paypal"></a>
            </div>
        </div>
        <br>
    </section>
{% endblock %}
{#
https://api-3t.sandbox.paypal.com/nvp?version=204&user=grisot.remi-facilitator_api1.gmail.com&pwd=QZLEL69NWCF6QUGE&signature=AFcWxV21C7fd0v3bYYYRCpSSRl31Ab6nocvqRHaMJv1ybVoYzIrz8WGl&method=setexpresscheckout&cancelurl=https://google.fr&currencycode=EUR&returnurl=https://google.fr&amt=10.0&desc=bonne%20vinasse&localecode=fr
https://www.sandbox.paypal.com/webscr&cmd=_express-checkout&token=EC%2d98A96882VN0088128
https://api-3t.sandbox.paypal.com/nvp?version=204&user=grisot.remi-facilitator_api1.gmail.com&pwd=QZLEL69NWCF6QUGE&signature=AFcWxV21C7fd0v3bYYYRCpSSRl31Ab6nocvqRHaMJv1ybVoYzIrz8WGl&method=getexpresscheckoutdetails&token=EC%2d98A96882VN0088128
https://api-3t.sandbox.paypal.com/nvp?version=204&user=grisot.remi-facilitator_api1.gmail.com&pwd=QZLEL69NWCF6QUGE&signature=AFcWxV21C7fd0v3bYYYRCpSSRl31Ab6nocvqRHaMJv1ybVoYzIrz8WGl&method=doexpresscheckoutpayment&token=EC%2d98A96882VN0088128&paymentaction=sale&payerid=44EZAY75P6CS4&amt=10.0&currencycode=EUR#}
