{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/theme-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/panier.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyA_6m6Glf1-P7jvVdHZ00e3Ue_EoUNe39g') }}"></script>
    <script src="{{ asset('js/bundle.js') }}"></script>
    <script src="{{ asset('js/product.js') }}"></script>
    <script src="{{ asset('js/panier.js') }}"></script>
{% endblock %}

{% block body %}

    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-heading">Récapitulatif des achats</h3>
            </div>
        </div>
    </div>

    <div class="tableau_panier_prix">
        <table>

            <tbody>
            <tr>
                <th>Prix HT</th>
                <td> 100€</td>
            </tr>
            <tr>
                <th>TVA</th>
                <td>19.6%</td>
            </tr>
            <tr>
                <th>Prix total</th>
                <td> 119.6€</td>
            </tr>
            <tr>
                <th><img src="/img/product/panier.png" height="70"></th>
                <td><input type="submit" value="Continuer"></td>
            </tr>
            </tbody>

        </table>
    </div>

    <div class="tableau_panier">
        <table>

            <thead>
            <tr>
                <th>Date d'ajout</th>
                <th>Article</th>
                <th>Prix</th>
                <th>Quantité</th>
            </tr>
            </thead>

            <tbody>
            {% for i in 1..10 %}
                <tr>
                    <td class="date">11/11/1111</td>
                    <td class="article"><img src="https://www.chateau-lastours.fr/vues/uploads/images/miniatures/vin-rouge-gaillac-chateau-lastours-selection-2008-898355.png"></img> <br> Nom  article</td>
                    <td class="prix">prix article</td>
                    <td class="quantite"><div class="PlusMoins">
                            <form>

                                <input type="text" value="1" id="quantite" size="1" maxlength="3" onkeypress="return isNumberKey(event);"><br>
                                <a onClick="retireProduit('quantite');"><img class="bouton_moins" src="/img/product/b_minus.png" height="40"></a>
                                <a onClick="ajoutProduit('quantite');" ><img class="bouton_plus" src="/img/product/b_plus.png" height="40"></a>
                            </form>
                        </div></td>
                </tr>
            {% endfor %}
            </tbody>


        </table>
    </div>



<!----------------------------------------->
<!------- PROPOSITION AUTRES PRODUITS ----->
<!----------------------------------------->
<section class="section-min section product" id="products">
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3>Ceci pourrait aussi vous intéresser :</h3>
            </div>
        </div>
        <div class="row">
            <div class="product-list-slider">
                <ul class="swiper-wrapper product-list product-list-vertical">
                    {% for i in 1..10 %}
                    <li class="swiper-slide wow fadeInUp text-center">
                                <span class="product-list-left pull-left">
                                        <!--Rajouter le lien vers la produit : <a href="http://www.google.fr"> -->
                                       <img alt="product image" class="product-list-primary-img" src="{{ asset('img/product/contract_default.png') }}">
                                        <span class="product-list-name h3">Nom produit</span>
                                        <span class="product-list-price">400.00 €</span>
                                    <!--</a>-->
                                      </span>
                    </li>
                    {% endfor %}
                </ul>
                <!-----------------------------------   DEFILEMENT  -------------------------------->
                <!-- Add Pagination -->
                <div class="product-list-pagination text-center"> </div>
                <div class="product-list-slider-next right-arrow-negative"> &#10095; </div>
                <div class="product-list-slider-prev left-arrow-negative"> &#10094;</div>
                <br><br>
            </div>
        </div>
    </div>
</section>

{% endblock %}
