{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/edit.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/formulaire.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="contenu">
        <div id="content">
            <h1>{% trans %}Userconsumer edit{% endtrans %}</h1>
            <br><br>
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
        </div>
    </div>


    <div id="boutons">
        <div class="bouton1">
            <input class="btn btn-primary btn-circle" type="submit" value="Edit" />
        </div>
        {{ form_end(edit_form) }}
        {{ form_start(delete_form) }}
        <div class="bouton1">
            <input class="btn btn-primary btn-circle" type="submit" value="Delete">
        </div>
        {{ form_end(delete_form) }}
        <div class="bouton1">
            <a class="btn btn-primary btn-circle" href="{{ path('userconsumer_index') }}">{% trans %}Back to the list{% endtrans %}</a>
        </div>
    </div>


    <div class="espace-bas"></div>
{% endblock %}
