{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-heading">User comsumer list</h3>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for userConsumer in userConsumers %}
                <tr>
                    <td><a href="{{ path('userconsumer_show', { 'id': userConsumer.id }) }}">{{ userConsumer.id }}</a></td>
                    <td>{{ userConsumer.lastname }}</td>
                    <td>{{ userConsumer.firstname }}</td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <a href="{{ path('userconsumer_show', { 'id': userConsumer.id }) }}">show</a>
                                </td>
                                <td>
                                    <a href="{{ path('userconsumer_edit', { 'id': userConsumer.id }) }}">edit</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <br><br>
    <ul>
        <li>
            <div class="btn btn-primary btn-circle"><a href="{{ path('userconsumer_new') }}">Create a new Consumer</a></div>
        </li>
    </ul>
{% endblock %}
