{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/table-template.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-heading">{% trans %}User consumer list{% endtrans %}</h3>
            </div>
        </div>
    </div>
    <div class="table-responsive table-template tableau_user_consumer">
        <table class="table table-hover">
            <thead class="thead-default">
            <tr class="color-title">
                <th>ID</th>
                <th>{% trans %}Lastname{% endtrans %}</th>
                <th>{% trans %}Firstname{% endtrans %}</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for userConsumer in userConsumers %}
                <tr>
                    <td><a href="{{ path('userconsumer_show', { 'id': userConsumer.id }) }}">{{ userConsumer.id }}</a></td>
                    <td>{{ userConsumer.lastname }}</td>
                    <td>{{ userConsumer.firstname }}</td>
                    <td>
                        <a href="{{ path('userconsumer_show', { 'id': userConsumer.id }) }}">{% trans %}Show{% endtrans %}</a>

                        <a href="{{ path('userconsumer_edit', { 'id': userConsumer.id }) }}">{% trans %}Edit{% endtrans %}</a>
                    </td>


            {% endfor %}
            </tbody>
        </table>
    </div>
    <br><br>
    <ul>
        <li>
            <a href="{{ path('userconsumer_new') }}"><div class="btn btn-primary btn-circle">{% trans %}Create a new Consumer{% endtrans %}</div></a>
        </li>
    </ul>
{% endblock %}
