{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/edit.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="content">
        <h1>{% trans %}Userconsumer{% endtrans %}</h1>
        <br>
        <table>
            <tbody>
                <tr>
                    <th width="100px">Id</th>
                    <td id="champ">{{ userConsumer.id }}</td>
                </tr>
                <tr>
                    <th width="100px">{% trans %}Gender{% endtrans %}</th>
                    <td id="champ">{{ userConsumer.sex }}</td>
                </tr>
                <tr>
                    <th width="100px">Email</th>
                    <td id="champ">{{ userConsumer.email }}</td>
                </tr>
                <tr>
                    <th width="100px">{% trans %}Birth date{% endtrans %}</th>
                    <td id="champ">{% if userConsumer.birthDate %}{{ userConsumer.birthDate|date('Y-m-d') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <table>
            <td>
                <a class="btn btn-primary btn-circle" href="{{ path('userconsumer_index') }}">{% trans %}Back to the list{% endtrans %}</a>
            </td>
            <td>
                <a class="btn btn-primary btn-circle" href="{{ path('userconsumer_edit', { 'id': userConsumer.id }) }}">{% trans %}Edit{% endtrans %}</a>
            </td>
                {{ form_start(delete_form) }}
            <td>
                <input class="btn btn-primary btn-circle" type="submit" value="Delete">
            </td>
            {{ form_end(delete_form) }}
        </table>
    </div>
{% endblock %}
