{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/edit.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/table-template.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="content">
        <h3 class="section-heading">{% trans %}Userconsumer{% endtrans %}</h3>
        <div class="table-responsive table-template">
            <table class="table table-hover">
                <thead class="thead-default">
                <tr class="color-title">
                    <th>ID</th>
                    <th>{% trans %}Sex{% endtrans %}</th>
                    <th>Email</th>
                    <th>{% trans %}Birth date{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ userConsumer.id }}</td>
                    <td>{{ userConsumer.sex }}</td>
                    <td>{{ userConsumer.email }}</td>
                    <td>{% if userConsumer.birthDate %}
                            {{ userConsumer.birthDate|date('Y-m-d') }}
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
            <table class="centrer-bouton">
                <td>
                    <a class="btn btn-primary btn-circle" href="{{ path('userconsumer_index') }}">{% trans %}Back to the list{% endtrans %}</a>
                </td>
                <td>
                    <a class="btn btn-primary btn-circle" href="{{ path('userconsumer_edit', { 'id': userConsumer.id }) }}">{% trans %}Edit{% endtrans %}</a>
                </td>
                {{ form_start(delete_form) }}
                <td>
                    <input class="btn btn-primary btn-circle" type="submit" value="{% trans %}Delete{% endtrans %}">
                </td>
                {{ form_end(delete_form) }}
            </table>
        <hr/>
        <h3 class="section-heading">{% trans %}Purchases{% endtrans %}</h3>
        <div class="table-responsive table-template">
        <table class="table table-hover">
            <thead class="thead-default">
            <tr class="color-title">
                <th>ID</th>
                <th>{% trans %}Date{% endtrans %}</th>
                <th>{% trans %}Price{% endtrans %}</th>
                <th>{% trans %}Products{% endtrans %}</th>
                <th>{% trans %}Status{% endtrans %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for purchase in userConsumer.purchases %}
                <tr>
                    <td>{{ purchase.id }}</td>
                    <td>{{ purchase.dateOrder|date('d/m/Y') }}</td>
                    <td>{{ purchase.total|number_format(2,'.',',') }} €</td>
                    <td>{{ purchase.NbArticles }}</td>
                    <td>
                        {% if purchase.done %}
                        {% trans %}Done{% endtrans %}
                        {% elseif purchase.paid %}
                        {% trans %}Paid{% endtrans %}
                        {% else %}
                        {% trans %}Waiting{% endtrans %}
                        {% endif %}
                    </td>
                    <td><a href="{{ path('purchase_show', {'id': purchase.id}) }}">{% trans %}Show{% endtrans %}</a></td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
        <table class="centrer-bouton">

            <td>
                <a class="btn btn-primary btn-circle" href="{{ path('userconsumer_index') }}">{% trans %}Back to the list{% endtrans %}</a>
            </td>



        </table>


    </div>
{% endblock %}
