{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-heading">{% trans %}News list{% endtrans %}</h3>
            </div>
        </div>
    </div>
    <br><br>
<div class="table-responsive tableau_news">
    <table class="table table-hover">
        <thead class="thead-default">
            <tr class="color-title">
                <th>Id</th>
                <th>{% trans %}Title{% endtrans %}</th>
                <th>{% trans %}Author{% endtrans %}</th>
                <th>{% trans %}Date publication{% endtrans %}</th>
                <th>{% trans %}News text{% endtrans %}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td><a href="{{ path('news_show', { 'id': news.id }) }}">{{ news.id }}</a></td>
                <td>{{ news.title }}</td>
                <td>{{ news.author }}</td>
                <td>{% if news.datePublication %}{{ news.datePublication|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ news.newsText }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('news_show', { 'id': news.id }) }}">{% trans %}Show{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('news_edit', { 'id': news.id }) }}">{% trans %}Edit{% endtrans %}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <br><br>
    <ul>
        <li>
            <a href="{{ path('news_new') }}"><div class="btn btn-primary btn-circle">{% trans %}Create a new news{% endtrans %}</div></a>
        </li>
    </ul>
{% endblock %}
