{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/index.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-heading">News list</h3>
            </div>
        </div>
    </div>
    <br><br>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Date publication</th>
                <th>News text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for news in news %}
            <tr>
                <td><a href="{{ path('news_show', { 'id': news.id }) }}">{{ news.id }}</a></td>
                <td>{{ news.title }}</td>
                <td>{{ news.author }}</td>
                <td>{% if news.datePublication %}{{ news.datePublication|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ news.newsText }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('news_show', { 'id': news.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('news_edit', { 'id': news.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br><br>
    <ul>
        <li>
            <a href="{{ path('news_new') }}"><div class="btn btn-primary btn-circle">Create a new news</div></a>
        </li>
    </ul>
{% endblock %}
