{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/create.css') }}" rel="stylesheet" />

    <link href="{{ asset('css/mise_en_page_admin.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="content" class="contour">
        <h2 class="titre">{% trans %}News creation{% endtrans %}</h2>
        <div class="marges">
        <br><br>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <table>
            <td>
                <input class="btn btn-primary btn-circle" type="submit" value="{% trans %}Create{% endtrans %}" />
            </td>
            {{ form_end(form) }}
            <td>
                <a class="btn btn-primary btn-circle" href="{{ path('news_index') }}">{% trans %}Back to the list{% endtrans %}</a>
            </td>
        </table>
        </div>
    </div>
{% endblock %}
