{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('http://www.w3schools.com/lib/w3.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/register.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/compte.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/formulaire.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/mise_en_page_compte.css') }}" rel="stylesheet" />

{% endblock %}


{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}
    {{ form_start(form, { 'attr': { 'class': 'fos_user_profile_edit' } }) }}


    <!-------------------Profile edit--------------------->
    <div id="content">
        <h1 class="espace_br">{% trans %}Profil{% endtrans %}</h1>

        <div class="el-form">
            {{ form_label(form.lastname) }}
            {{ form_errors(form.lastname) }}
            {{ form_widget(form.lastname) }}
        </div>
        <div class="el-form">
            {{ form_label(form.firstname) }}
            {{ form_errors(form.firstname) }}
            {{ form_widget(form.firstname) }}
        </div>

        {% if is_granted('ROLE_CONSUMER') %}
            <div class="el-form">
                {{ form_label(form.birthDate) }}
                {{ form_errors(form.birthDate) }}
                <span id="edit-birthday">
                    {{ form_widget(form.birthDate.day) }}
                    {{ form_widget(form.birthDate.month) }}
                    {{ form_widget(form.birthDate.year) }}
                </span>
            </div>
            <div class="el-form">
                {{ form_label(form.sex) }}
                {{ form_errors(form.sex) }}
                {{ form_widget(form.sex) }}
            </div>
            <div class="el-form">
                {{ form_label(form.phone) }}
                {{ form_errors(form.phone) }}
                {{ form_widget(form.phone) }}
            </div>
        {% endif %}

        {% if is_granted('ROLE_MEDIA') %}
            <div class="el-form">
                {{ form_label(form.urlBlog) }}
                {{ form_errors(form.urlBlog) }}
                {{ form_widget(form.urlBlog) }}
            </div>
            <div class="el-form">
                {{ form_label(form.idPresse) }}
                {{ form_errors(form.idPresse) }}
                {{ form_widget(form.idPresse) }}
            </div>
            <div class="el-form">
                {{ form_label(form.companyName) }}
                {{ form_errors(form.companyName) }}
                {{ form_widget(form.companyName) }}
            </div>
        {% endif %}

        {% if is_granted('ROLE_PRODUCER') %}
            <div class="el-form">
                {{ form_label(form.businessName) }}
                {{ form_errors(form.businessName) }}
                {{ form_widget(form.businessName) }}
            </div>
            <div class="el-form">
                {{ form_label(form.siret) }}
                {{ form_errors(form.siret) }}
                {{ form_widget(form.siret) }}
            </div>
            <div class="el-form">
                {{ form_label(form.address) }}
                {{ form_errors(form.address) }}
                {{ form_widget(form.address) }}
            </div>
            <div class="el-form">
                {{ form_label(form.city) }}
                {{ form_errors(form.city) }}
                {{ form_widget(form.city) }}
            </div>
            <div class="el-form">
                {{ form_label(form.postalCode) }}
                {{ form_errors(form.postalCode) }}
                {{ form_widget(form.postalCode) }}
            </div>
            <div class="el-form">
                {{ form_label(form.phone) }}
                {{ form_errors(form.phone) }}
                {{ form_widget(form.phone) }}
            </div>
            <div class="el-form">
                {{ form_label(form.country) }}
                {{ form_errors(form.country) }}
                {{ form_widget(form.country) }}
            </div>
            <div class="el-form">
                {{ form_label(form.state) }}
                {{ form_errors(form.state) }}
                {{ form_widget(form.state) }}
            </div>
        {% endif %}


        <div class="espace_br">
            <div class="edit-submit">
                <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
        </div>
    {{ form_end(form) }}

    </div>

<!-------------------Password edit--------------------->
<div id="content">
    <h1 class="espace_br">{% trans %}Change Password{% endtrans %}</h1>
    {{ form_start(formPW) }}
    {{ form_widget(formPW) }}

    <div class="espace_br">
        <div class="edit-submit">
            <input type="submit" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </div>
    {{ form_end(formPW) }}
</div>




{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function openLink(evt, animName) {
            var i, x, tablinks;
            x = document.getElementsByClassName("city");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablink");
            for (i = 0; i < x.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
            }
            document.getElementById(animName).style.display = "block";
            evt.currentTarget.className += " w3-red";
        }
        openLink(null, 'Profile1');
    </script>
{% endblock %}
