{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('http://www.w3schools.com/lib/w3.css') }}" rel="stylesheet" />

    <link href="{{ asset('css/compte.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/register.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/profile.css') }}" rel="stylesheet"/>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/compte.js') }}"></script>
{% endblock %}


{% block body %}

    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h1 id="titre1" class="section-heading">{% trans %}Bienvenue sur votre espace client{% endtrans %}</h1>
            </div>
        </div>
    </div>

    <div class="gros-bloc">

        <!-------------------Profil--------------------->
        <div id="Profile">
            <h3>{% trans %}Profil{% endtrans %}</h3>
            <br>

            <div>
                <p><b>{% trans %}Username{% endtrans %}:</b> {{ user.username }}</p>
                <p><b>{% trans %}Email{% endtrans %}:</b> {{ user.email }}</p>
                <p><b>{% trans %}Last name{% endtrans %}:</b> {{ user.lastname }}</p>
                <p><b>{% trans %}First name{% endtrans %}:</b> {{ user.firstname }}</p>
            </div>

            {% if is_granted('ROLE_CONSUMER') %}
                <div>
                    <p><b>{% trans %}Birth date{% endtrans %}:</b> {{ user.birthDate | date("Y-m-d") }}</p>
                    <p><b>{% trans %}Sex{% endtrans %}:</b> {{ user.sex }}</p>
                    <p><b>{% trans %}Phone{% endtrans %}:</b> {{ user.phone }}</p>
                </div>
            {% endif %}

            {% if is_granted('ROLE_MEDIA') %}
                <div>
                    <p><b>{% trans %}Url blog{% endtrans %}:</b> {{ user.urlBlog }}</p>
                    <p><b>{% trans %}ID presse{% endtrans %}:</b> {{ user.idPresse }}</p>
                    <p><b>{% trans %}Company name{% endtrans %}:</b> {{ user.companyName }}</p>
                </div>
            {% endif %}

            {% if is_granted('ROLE_PRODUCER') %}
                <div>
                    <p><b>{% trans %}Company name{% endtrans %}:</b> {{ user.companyName }}</p>
                    <p><b>{% trans %}Siret{% endtrans %}:</b> {{ user.siret }}</p>
                    <p><b>{% trans %}Address{% endtrans %}:</b> {{ user.address }}</p>
                    <p><b>{% trans %}City{% endtrans %}:</b> {{ user.city }}</p>
                    <p><b>{% trans %}Postal code{% endtrans %}:</b> {{ user.postalCode }}</p>
                    <p><b>{% trans %}Phone{% endtrans %}:</b> {{ user.phone }}</p>
                </div>
            {% endif %}
            <br>

            <a href="{{ path('fos_user_profile_edit') }}" id="modifier" class="tablink" onclick="openLink(event, 'Profile1')">
                <img src="/img/slider/crayon.png" alt="x" height="25px">
                <b>{% trans %}Modifier{% endtrans %}</b>
            </a>

        </div>


        <div id="slideshow">
            <div>
                <img class="diapo" src="/img/slider/slider_1.jpeg">
            </div>
            <div>
                <img class="diapo" src="/img/slider/slider_2.jpeg">
            </div>
            <div>
                <img class="diapo" src="/img/slider/slider_3.jpeg">
            </div>
            <div>
                <img class="diapo" src="/img/slider/slider_4.jpeg">
            </div>
            <div>
                <img class="diapo" src="/img/slider/slider_5.jpg">
            </div>
        </div>


    </div>



    {% if is_granted('ROLE_CONSUMER') %}
        <div class="espaceUser">
        </div>
    {% endif %}


    {% if is_granted('ROLE_PRODUCER') %}
        <div class="espaceProd">
        </div>
    {% endif %}


    {% if is_granted('ROLE_MEDIA') %}
        <div class="espaceMedia">
        </div>
    {% endif %}


    <!-------------------Factures--------------------->

    <div id="Factures">
        <h3>{% trans %}Factures & Paiements{% endtrans %}</h3>
        <div>
            <div class="text-center content">
                {% for purchase in purchases %}
                    <a class="btn btn-primary btn-circle" href="{{ path("profil_products", {'id': purchase.id }) }}">
                        <div id="texte1" class="texte">{% trans %}Commande{% endtrans %} n° {{ purchase.id }} - {{ purchase.getdateOrder|date('d-m-y') }} </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}