{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link href="{{ asset('http://www.w3schools.com/lib/w3.css') }}" rel="stylesheet" />

    <link href="{{ asset('css/compte.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/register.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/compte.js') }}"></script>
{% endblock %}


{% block body %}

    <div class="container overflow-hidden">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-heading">Bienvenue sur votre espace client</h3>
            </div>
        </div>
    </div>

    <div class="gros-bloc">

        <!-------------------Profil--------------------->
        <div id="Profile">
            <h2>Profil</h2>
            <br>

            <div>
                <p><b>Username:</b> {{ user.username }}</p>
                <p><b>Email:</b> {{ user.email }}</p>
                <p><b>Last name:</b> {{ user.lastname }}</p>
                <p><b>First name:</b> {{ user.firstname }}</p>
            </div>

            {% if is_granted('ROLE_CONSUMER') %}
                <div>
                    <p><b>Birth Date:</b> {{ user.birthDate | date("Y-m-d") }}</p>
                    <p><b>Gender:</b> {{ user.sex }}</p>
                    <p><b>Phone:</b> {{ user.phone }}</p>
                </div>
            {% endif %}

            {% if is_granted('ROLE_MEDIA') %}
                <div>
                    <p><b>Url blog:</b> {{ user.urlBlog }}</p>
                    <p><b>ID presse:</b> {{ user.idPresse }}</p>
                    <p><b>Company name:</b> {{ user.companyName }}</p>
                </div>
            {% endif %}

            {% if is_granted('ROLE_PRODUCER') %}
                <div>
                    <p><b>Company name:</b> {{ user.companyName }}</p>
                    <p><b>Siret:</b> {{ user.siret }}</p>
                    <p><b>Address:</b> {{ user.address }}</p>
                    <p><b>City:</b> {{ user.city }}</p>
                    <p><b>Postal code:</b> {{ user.postalCode }}</p>
                    <p><b>Phone:</b> {{ user.phone }}</p>
                </div>
            {% endif %}
            <br>

            <a href="{{ path('fos_user_profile_edit') }}" id="modifier" class="tablink" onclick="openLink(event, 'Profile1')">
                <img src="/img/slider/crayon.png" alt="x" height="25px">
                <b>Modifier</b>
            </a>

        </div>


            <div id="slideshow">
                <div>
                    <img class="diapo" src="/img/slider/slider_1.jpeg">
                </div>
                <div>
                    <img class="diapo" src="/img/slider/slider_2.jpeg">
                </div>
                <div>
                    <img class="diapo" src="/img/slider/slider_3.jpeg">
                </div>
                <div>
                    <img class="diapo" src="/img/slider/slider_4.jpeg">
                </div>
                <div>
                    <img class="diapo" src="/img/slider/slider_5.jpg">
                </div>
            </div>


    </div>



    {% if is_granted('ROLE_CONSUMER') %}
        <div class="espaceUser">
        </div>
    {% endif %}


    {% if is_granted('ROLE_PRODUCER') %}
        <div class="espaceProd">
        </div>
    {% endif %}


    {% if is_granted('ROLE_MEDIA') %}
        <div class="espaceMedia">
        </div>
    {% endif %}


    <!-------------------Factures--------------------->

    <div id="Factures">
        <h2>Factures & Paiements</h2>
        <div>
            <br>
            <h1 class="section-heading">Commandes</h1>
            <br>
            <div class="text-center content">
                <div class="text-center">
                    {% for purchase in purchases %}
                        <a class="btn btn-primary btn-circle" href="{{ path("profil_products", {'id': purchase.id }) }}">
                            <div class="texte">Commande n° {{ purchase.id }} - {{ purchase.getdateOrder|date('d-m-y') }} </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
