{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('http://www.w3schools.com/lib/w3.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/compte.css') }}" rel="stylesheet" />
  
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/compte.js') }}"></script>
{% endblock %}

{%  block body %}
    <br><br><br><br>

    <div class="gros-bloc">
        <!-------------------Produits de la commande--------------------->
        <div id="Profile2">
        <h2 class="text-center">{% trans %}Commande & Produits{% endtrans %}</h2>
        <br>

            <table class="table table-hoover">
                <thead class="thead-default">
                    <tr>
                        <th width="100px">{% trans %}Numéro{% endtrans %}</th>
                        <th width="100px">{% trans %}Prix Total{% endtrans %}</th>
                        <th width="100px">{% trans %}Articles{% endtrans %}</th>
                        <th width="100px">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <tr>
                            <td>{{ purchase.id }}</td>
                            <td>{{ purchase.total }} €</td>
                            <td>{{ purchase.nbArticles }}</td>
                            <td>{{ purchase.dateOrder|date('d-m-Y') }}</td>
                        </tr>
                    </tr>
                </tbody>
            </table>
            <br>

            {% for productPurchase in purchase.products %}
                {% set conditioning, product = productPurchase.conditioningType, productPurchase.conditioningType.product %}
                <div>
                    <p><b>{% trans %}Nom{% endtrans %}:</b> <a href="{{ path('product_show', {id:product.id}) }}">{{ product.name }} - {{ conditioning.name }}</a></p>
                    <p><b>{% trans %}Volume{% endtrans %}:</b> {{ product.volume }} L</p>
                    <p><b>{% trans %}Prix Unitaire{% endtrans %}:</b> {{ conditioning.price }} €</p>
                    <p><b>{% trans %}Stock{% endtrans %}:</b> {{ conditioning.stock }}</p>
                </div>
            {% endfor %}
        </div>
    </div><br>

{% endblock %}