{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/theme-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/theme-product.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyA_6m6Glf1-P7jvVdHZ00e3Ue_EoUNe39g') }}"></script>
    <script src="{{ asset('js/bundle.js') }}"></script>
    <script src="{{ asset('js/item.js') }}"></script>
{% endblock %}

{% block body %}

    <nav class="navbar navbar-fixed-top shadow" id="js-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#"> <img src="img/logo-white.png" alt="logo"> </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#home">home</a></li>
                    <li><a href="#products">products</a></li>
                    <li><a href="#about">about us</a></li>
                    <li><a href="#special">special</a></li>
                    <li><a href="#testimonials">testimonials</a></li>
                    <li><a href="#news">news</a></li>
                    <li><a href="#history">history</a></li>
                    <li><a href="#contact">contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--  IMAGE -->
    <section class="SLIDESHOW">

        <div class="slideshow-container">

            <div class="mySlides fade" style="text-align:center">
                <img src="http://avis-vin.lefigaro.fr/var/img/56/13949-250x600-bouteille-chateau-mont-redon-rouge--chateauneuf-du-pape.png" height="450"" alt="" />
            </div>

            <div class="mySlides fade" style="text-align:center">
                <img src="http://p1.storage.canalblog.com/18/68/637548/42724896.jpg" alt="" />
            </div>

            <div class="mySlides fade" style="text-align:center">
                <img src="http://us.123rf.com/450wm/sababa66/sababa661510/sababa66151000037/47691136-jeune-homme-dans-un-costume-avec-un-verre-de-vin-rouge.jpg?ver=6" alt="" />
            </div>

            <div class="mySlides fade" style="text-align:center">
                <img src="http://letempsdescopains.l.e.pic.centerblog.net/c891609f.jpg" alt="" />
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

        <br>

        <!-- TROIS PETITS POINTS EN DESSOUS  -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>

    </section>

    <!--  TEXTE  -->
    <section class="TEXTE">
        <div class="col-md-7 text-center">
            <div class="countdown-container">
                <h3 class="wow fadeInDown">Nom du produit</h3>

                <img alt="lauriers" src="http://drapeau-brode.fr/142-home_default/couronne-de-palmes-or.jpg" height="55">
                <h4 class="wow fadeInDown">Médaille</h4>

                <p class="wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p>Univers : ..................<br>
                   Producteur : ..................</p>

                <span class="countdown-price h3 wow fadeInUp">4 200,00 €</span>
                <span class="btn btn-default add-item wow swing" >
                    <img alt="e-commerce" src="http://www.outils-ref.com/wp-content/uploads/2013/07/panier.png" height="55">

                    <span class="ti-shopping-cart"></span>Ajouter au panier
                </span>
            </div>
        </div>
    </section>



    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}

