{% extends 'baseadmin.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/media.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/edit.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/formulaire.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/table-template.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="content">
        <h3 class="section-heading">{% trans %}Concour{% endtrans %}</h3>
        <div class="table-responsive table-template">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ competition.id }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Name{% endtrans %}</th>
                    <td>{{ competition.name }}</td>
                </tr>
                <tr>
                    <th>{% trans %}Datecompetition{% endtrans %}</th>
                    <td>{% if competition.dateCompetition %}{{ competition.dateCompetition|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ competition.description }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="boutons">
            <div class="bouton1">
                <a class="btn btn-circle btn-primary" href="{{ path('competition_index') }}">{% trans %}Back to the list{% endtrans %}</a>
            </div>
            <div class="bouton1">
                <a class="btn btn-circle btn-primary" href="{{ path('competition_edit', { 'id': competition.id }) }}">{% trans %}Edit{% endtrans %}</a>
            </div>
            {{ form_start(delete_form) }}
            <div class="bouton1">
                <input class="btn btn-circle btn-primary" type="submit" value="{% trans %}Delete{% endtrans %}">
            </div>
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
