{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/concours.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bundle.js') }}"></script>
{% endblock %}

{% block body %}
    <!----------------------------------------->
    <!---------------- ONGLETS ---------------->
    <!----------------------------------------->
    <nav class="onglets navbar navbar-fixed-top shadow subnav" id="js-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#concours">Concours</a></li>
                    <li><a href="#contrats">Contrats</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!----------------------------------------->
    <!------- CALENDRIER DES CONCOURS --------->
    <!----------------------------------------->
    <section class="timeline" id="concours">
        <div class="container">
            <div class="row">
                <h3 class="section-heading">Calendrier des concours</h3>
                <div id="timeline" class="timeline-container">
                    {% for competition in competitions %}
                        <!-- timeline-block -->
                        <div class="timeline-block timeline-block-image-1">
                            <div class="timeline-point"></div>
                            <!-- timeline-img -->
                            <div class="timeline-content wow fadeInLeft">
                                <span class="timeline-date">
                                    <span class="timeline-month">
                                        {{ competition.dateCompetition|localizeddate('full', 'none', 'fr') }}
                                    </span>
                                </span>
                                <a href="http://www.google.fr">
                                    <h2>Concours {{ competition.name }}</h2>
                                    <p>{{ competition.description}}</p>
                                </a>
                            </div>
                            <!-- timeline-content -->
                        </div>
                    {% endfor %}
                </div>
                <!-- timeline -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!----------------------------------------->
    <!------------ CONTRATS 1 + PRIX ---------->
    <!----------------------------------------->
    <section class="section-min section product" id="contrats">
        <div class="container overflow-hidden">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-heading">Contrats</h3>
                </div>
            </div>
            <div class="row">
                <div class="product-list-slider">
                    <ul class="swiper-wrapper product-list product-list-vertical">
                        {% for i in 1..10 %}
                            <li class="swiper-slide wow fadeInUp text-center">
                                <span class="product-list-left pull-left">
                                    <a href="http://www.google.fr">
                                        <img alt="product image" class="product-list-primary-img" src="{{ asset('img/product/contract_default.png') }}">
                                        <img alt="Description rapide du contrat {{ i }}. Blablablablabla lololol" class="product-list-secondary-img">
                                        <span class="product-list-name h3">Contrat {{ i }}</span>
                                        <span class="product-list-price">$400.00</span>
                                    </a>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                    <!-----------------------------------   DEFILEMENT  -------------------------------->
                    <!-- Add Pagination -->
                    <div class="product-list-pagination text-center"> </div>
                    <div class="product-list-slider-next right-arrow-negative"> &#10095; </div>
                    <div class="product-list-slider-prev left-arrow-negative"> &#10094;</div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
