{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/concours.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <!----------------------------------------->
    <!------- CALENDRIER DES CONCOURS --------->
    <!----------------------------------------->
    <section class="timeline" id="concours">
        <div class="container">
            <div class="row">
                <h3 class="section-heading">{% trans %}Calendrier des concours{% endtrans %}</h3>
                <div id="timeline" class="timeline-container">
                    {% for competition in competitions %}
                        <!-- timeline-block -->
                        <div class="timeline-block timeline-block-image-1">
                            <div class="timeline-point"></div>
                            <!-- timeline-img -->
                            <div class="timeline-content wow fadeInLeft">
                                <span class="timeline-date">
                                    <span class="timeline-month">
                                        {{ competition.dateCompetition|localizeddate('full', 'none', 'fr') }}
                                    </span>
                                </span>
                                <a href="http://www.google.fr">
                                    <h2>{% trans %}Concour{% endtrans %} {{ competition.name }}</h2>
                                    <p>{{ competition.description}}</p>
                                </a>
                            </div>
                            <!-- timeline-content -->
                        </div>
                    {% endfor %}
                </div>
                <!-- timeline -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>

{% endblock %}
