{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/theme-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/accueil.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <!--<script src="{{ asset('https://maps.googleapis.com/maps/api/js?key=AIzaSyA_6m6Glf1-P7jvVdHZ00e3Ue_EoUNe39g') }}"></script>
    --><script src="{{ asset('js/bundle.js') }}"></script>
{% endblock %}

{% block body %}












        <div class="text-center">
            <div class="swiper-wrapper">

                <div class="swiper-slide" style="background: url(img/slider/slide1.jpg);">
                    <h1>Box Office Vine</h1>
                    <div class="bandeau_int text-center">
                        <button type="button" class="btn btn-primary btn-circle">
                            <img class="monde" src="{{ asset('img/app/pexels-photo-59050.jpeg')}}"

                                 alt="monde"
                            />
                            <div class="texte">Monde</div>
                        </button>

                        <button type="button" class="btn btn-primary btn-circle">

                            <img class="gastronomie" src="{{ asset('img/app/food-eating-potatoes-beer-8313.jpg')}}"

                                 alt="gastronomie";
                            />
                            <div class="texte">Gastronomie</div>
                        </button>
                        <button type="button" class="btn btn-primary btn-circle">

                            <img class="femme" background src="{{ asset('img/app/man-couple-people-woman.jpg')}}"

                                 alt="femme";
                            />

                            <div class="texte">Femmes</div>
                        </button>


                    </div>
                    <div class="bandeau_int text-center">
                        <button type="button" class="btn btn-primary btn-circle">

                            <img class="terroir" src="{{ asset('img/app/tuscany-grape-field-nature-51947.jpeg')}}"

                                 alt="terroir";
                            />
                            <div class="texte">Terroir</div>
                        </button>
                        <button type="button" class="btn btn-primary btn-circle">

                            <img  class="rose" src="{{ asset('img/app/alcohol-party-glass-table.jpg')}}"

                                 alt="rose"
                            />
                            <div class="texte">Rosé</div>
                        </button>
                        <button type="button" class="btn btn-primary btn-circle">

                            <img class="spiritueux" src="{{ asset('img/app/pexels-photo-66436.jpeg')}}"

                                 alt="spirit"
                            />
                            <div class="texte">Spiritueux</div>
                        </button>
                    </div>







                    <!--
                    <button type="button" class="btn btn-primary btn-circle">
                        <img class="image_univers6">
                            ::before
                        </img>
                    </button>
                    <button type="button" class="btn btn-primary btn-circle">
                        <i class="image_univers7">
                            ::before
                        </i>
                    </button>
                    <button type="button" class="btn btn-primary btn-circle">
                        <i class="image_login">
                            ::before
                        </i>
                    </button>
                    <button type="button" class="btn btn-primary btn-circle">
                        <i class="image_presse">
                            ::before
                        </i>
                    </button>
                    <button type="button" class="btn btn-primary btn-circle">
                        <i class="image_contact">
                            ::before
                        </i>
                    </button>-->
                    <!--<div class="home-buttons text-center"> <a href="#products" class="btn btn-lg  btn-primary">our products</a> </div>-->

                </div>

            </div>
            <!--<div class="home-pagination"></div>
            <div class="home-slider-next right-arrow-negative"> <span class="ti-arrow-right"></span> </div>
            <div class="home-slider-prev left-arrow-negative"> <span class="ti-arrow-left"></span> </div>-->
        </div>


{% endblock %}

