{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('css/bootstrap-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/theme-dark.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/accueil.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lemonada" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bundle.js') }}"></script>
{% endblock %}

{% block body %}

        <div class="text-center">
                    <h1>Box Office Wine</h1>
                    <div class="text-center">
                        {% for universe in universes %}
                            <div class="neutral text-center">
                            <a type="button" class="btn">
                                {% set picture = universe.pictures|last %}
                                <img class="image" src="/img/upload/{{ picture.url}}" alt="{{ picture.alt}}"/>
                                <p class="texte"> {{ universe.name }}</p>
                            </a>
                            </div>
                        {% endfor %}
                    </div>
        </div>

{% endblock %}

