{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/accueil.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="text-center">
        <h1>Box Office Wines</h1>
        <div class="text-center">
            {% for universe in universes %}
                <div class="neutral text-center">
                    <a type="button" class="btn" href="{{ path("universe_show", {id:universe.id}) }}">
                        {% set picture = universe.pictures|first %}
                        <img class="image" src="{{ asset(picture.url) }}" alt="{{ picture.alt }}"/>
                        <p class="texte">{{ universe.name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

